#result1div {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
#result2div {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}		
#result3div {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
#result4div {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}		
#result5div {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
#result6div {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
#result7div {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}