<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<!-- Appender, Layout 설정 -->
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
		<!-- File name="file" fileName="./logs/log.log" append="false"> <PatternLayout 
			pattern="%d %5p [%c] %m%n"/> </File -->
	</Appenders>

	<!-- Logger 설정 -->
	<Loggers>
		<Logger name="java.sql" level="info" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="egovframework" level="info" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jnit" level="info" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
	    <Logger name="jdbc.sqltiming" level="info" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
		<Logger name="org.springframework" level="info"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>

</Configuration>