@charset "utf-8";





/* **************************************** *
 * 텍스트 정렬(공통)
 * **************************************** */

.tal{text-align:left !important;}

.tac{text-align:center !important;}

.tar{text-align:right !important;}

.valm{vertical-align:middle !important;}

.valt{vertical-align:top !important;}


/* **************************************** *
 * 이미지 아이콘(공통)
 * **************************************** */

.ico{padding:0 3px;}
.ico img{max-width:100%;width:auto !important;vertical-align:middle;}


/* **************************************** *
 * 버튼(공통)
 * **************************************** */

/*기존 버튼(공통)*/

.btnArea {margin:30px 0;font-size:13px;text-align:right}

.btnArea:after {content:"";display:block;clear:both}



.btn.lg{position:relative; display:inline-block; box-sizing:border-box; overflow:visible; margin:0; padding:0 40px;height:45px; margin:5px 3px; border:1px solid transparent; font-size:15px; line-height:45px; text-decoration:none !important; white-space:nowrap; text-align:center; vertical-align:middle; cursor:pointer; transition:all .3s;}
.btn.black{background:#000;color:#fff;}
.btn.gray{background:#999;color:#fff;}

.btn.border{border:1px solid #222;color:#333;}


.btn:hover,

.btn:focus{opacity:.8; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);}


@media screen and (max-width:768px){
	
.btn{height:35px;padding:0 30px;line-height:35px;font-size:14px;}

}	

@media screen and (max-width:640px){
	
.btn{padding:0 20px;font-size:13px;}

}	


/* **************************************** *
 * (기존 )이미지 파일첨부
 * **************************************** */

.board_write table tbody td .btn-succes {width:100px;height:30px;line-height:30px;padding:0 7px;margin:0 5px;background:#c9a00f;transition:all 0.6s;color:#fff}

.board_write table tbody td .btn-succes:hover,.board_write table tbody td .btn-succes:focus,.board_write table tbody td 
.btn-succes:active {background:#31b0d5}
#uploadFileList_img .btn-info {float:left;width:85px;height:30px;line-height:30px;padding:0 7px;background:#5bc0de;color:#fff;transition:all 0.6s}
#uploadFileList_img .btn-info:focus,#uploadFileList_img .btn-info:hover,#uploadFileList_img .btn-info:active {background:#31b0d5}
#uploadFileList_img a {overflow:hidden;display:inline-block;width:50px;height:30px;padding:4px 7px;background:#de5b5b;color:#fff;text-align:center}
#uploadFileList_img a:focus,#uploadFileList_img a:hover,#uploadFileList_img a:active {background:#a72424}
#uploadFileList_doc .btn-danger {overflow:hidden;display:inline-block;width:50px;height:30px;line-height:30px;padding:0 7px;background:#de5b5b;color:#fff;text-align:center;transition:all 0.6s}
#uploadFileList_doc .btn-danger:focus,#uploadFileList_doc .btn-danger:hover,#uploadFileList_doc .btn-danger:active {background:#a72424}


/* **************************************** *
 * 검색(공통)
 * **************************************** */
/* 검색 */
.search_box{margin-bottom:30px;padding:35px 20px;text-align:center;font-size:13px;background:#f6f6f6;}
.search_box:after{content:""; display:block; clear:both;}
/* IE 10, 11의 네이티브 화살표 숨기기 */ 
.search_box select::-ms-expand { display: none; }
.search_box select{width:10%;height:45px; border:1px solid #dfdfdf; vertical-align:middle; background:#fff url(../images/brd/ico_select_arrow.png) no-repeat 90% 50%; /* iOS 둥근모서리 제거 */ -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none;}
.search_box input[type=text]{width:35%;height:45px; border:1px solid #dfdfdf; vertical-align:middle;}
.search_box .btn{width:95px;padding:0;}

@media screen and (max-width:768px){
	.search_box select{width:15%;}
	.search_box input[type=text]{width:calc(100% - 15% - 95px - 5%);}
}	
@media screen and (max-width:640px){
	.search_box{padding:15px 10px;}
	.search_box select{width:20%;height:35px;}
	.search_box input[type=text]{width:calc(100% - 20% - 95px - 5%);height:35px;}
	.search_box .btn{width:60px;}
}	

/* **************************************** *
 * 페이징(공통)
 * **************************************** */
.paging {margin:20px 0;line-height:18px;text-align:center}
.paging:after {content:"";display:block;clear:both}
.paging li {display:inline-block;margin:0 2px;vertical-align:middle;}
.paging li a {display:block;width:32px;height:32px;line-height:32px;font-size:14px;color:#666;border:1px solid #ddd;text-align:center;vertical-align:middle}
.paging .first a,
.paging .prev a,
.paging .next a,
.paging .last a{position:relative;background:#f8f8f8;}
.paging .first a:before,
.paging .prev a:before,
.paging .next a:before,
.paging .last a:before{content:'';display:inline-block;height:10px;}

/*왼쪽 1*/
.paging .first a:before{width:11px;background:url(../images/board/ico_arr_first.png) no-repeat 50% 50%;}
/*왼쪽 2*/
.paging .prev {margin-right:10px}
.paging .prev a:before{width:6px;background:url(../images/board/ico_arr_prev.png) no-repeat 50% 50%;}
/*오른쪽1*/
.paging .next {margin-left:10px}
.paging .next a:before{width:6px;background:url(../images/board/ico_arr_next.png) no-repeat 50% 50%;}
/*오른쪽2*/
.paging .last a:before{width:11px;background:url(../images/board/ico_arr_last.png) no-repeat 50% 50%;}

.paging li.active a,
.paging li a:hover,
.paging li a:focus,
.paging li a:active {background:#000;color:#fff;}
.paging .first a:hover,
.paging .prev a:hover,
.paging .next a:hover,
.paging .last a:hover{background:#f8f8f8;}


@media screen and (max-width:640px){
	.paging li{margin:0;}
	.paging li a {display:block;width:28px;height:28px;line-height:28px;font-size:13px;}
}
/* **************************************** *
 * 이전글 다음글(공통)
 * **************************************** */
.table_nav{margin-top:20px;border-top:1px solid #dedede;}
.table_nav dl{width:100%;padding:20px 20px;border-bottom:1px solid #dedede;font-size:15px;}
.table_nav dl:after{content:'';display:block;clear:both;}
.table_nav dl dt{position:relative;float:left;width:115px;margin-right:30px;padding-right:45px;}
.table_nav dl dt:after{content:'';display:inline-block;position:absolute;top:50%;right:0;margin-top:-7.5px;width:1px;height:15px;background:#dedede;}
.table_nav dl dd{float:left;width:calc(100% - 115px - 30px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#888;}
.table_nav dl dt>span{display:inline-block;color:#000;}
.table_nav dl dt>span:before{content: ''; display: inline-block; width: 12px; height: 7px; margin: 0 10px 0 0; background: url(../images/brd/ico_nav_prev.png) no-repeat 50% 50%; vertical-align:middle;}
.table_nav dl.next dt>span:before{content: ''; display: inline-block; width: 12px; height: 7px; background: url(../images/brd/ico_nav_next.png) no-repeat 50% 50%;}
.table_nav dl dd>a{margin-right: 100px;}

@media screen and (max-width:768px){
	.table_nav dl{padding:17px 10px;font-size:14px;}
	.table_nav dl dt{width:90px;padding-right:15px;margin-right:20px;}
	.table_nav dl dd{float:left;width:calc(100% - 90px - 20px);}
}			

/* **************************************** *
 * brd_wrap(전체 wrap)
 * **************************************** */
.dkn_brd_box{max-width:1200px;margin:0 auto;}
.dkn_brd_box:after {content:"";display:block;clear:both;}

@media screen and (max-width:1200px){
	.dkn_brd_box{padding:0 20px;}
}			

/* **************************************** *
 * 공지사항 외 list(공통)
 * **************************************** */
.board_list {margin-top:15px;border-top:2px solid #47422a;border-bottom:1px solid #d2d2d2;}
.board_list table {width:100%; word-break:break-all;}
.board_list table thead th {position:relative;padding:15px 5px;color:#333}
.board_list table thead th:before{content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top:-5px;width:1px;height:10px;background:#d2d2d2;}
.board_list table thead th:first-child:before{display:none;}
.board_list table tbody td {padding:15px 20px;border-top:1px solid #dcdee0}
.board_list table tbody td img {vertical-align:middle}
.board_list table tbody td.data a {font-size:13px;color:#ababac}
.board_list td[data-table-type="brd_subject"]{text-align:left;}
.board_list textarea.content{width:100%;} 
@media screen and (max-width:768px){
    
    .board_list *[data-table-type="brd_number"],
    .board_list *[data-table-type="brd_file_count"],
    .board_list *[data-table-type="brd_views_count"]{display:none;}
    .board_list table th,
    .board_list table td{font-size:14px;}
    .board_list *[data-table-type="brd_subject"]{width:calc(100% - 30%);}
    .board_list *[data-table-type="brd_subject"]:before{display:none;}
    .board_list *[data-table-type="brd_w_date"]{width:30%;}
    
}
@media screen and (max-width:640px){
    
    .board_list table tbody td{padding:10px 15px;}
    .board_list table th,
    .board_list table td{font-size:13px;}
    
}
/* **************************************** *
 * 공지사항 외 view(공통)
 * **************************************** */
.board_view{border-top:1px solid #333;border-bottom:1px solid #ddd;}
.board_view .tit{padding:17px 25px;border-bottom:1px solid #f1f1f1;font-size:23px;color:#222;}
.board_view .info_area{padding:17px 25px;border-bottom:1px solid #ddd;}
.board_view .info_area:after{content:'';display:block;clear:both;}
.board_view .info_area li strong{margin-right:10px;}
.board_view .info_area .f_right li{position:relative;display:inline-block;padding:0 18px 0 17px;}
.board_view .info_area .f_right li:before{content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top:-6.5px;width:1px;height:13px;background:#dedede;}
.board_view .info_area .f_right li:first-child:before{display:none;}
.board_view .info_area .f_right li:last-child{padding-right:0;}
.board_view .brd_view_cont{padding:40px 25px;line-height:1.5;}
.board_view .brd_view_cont img{max-width:100%;width:100%;}

@media screen and (max-width:768px){
	.board_view .tit{padding:15px 20px;font-size:18px;}
	.board_view .info_area{padding:15px 20px;font-size:14px;}
	.board_view .brd_view_cont{padding:30px 20px;font-size:14px;}
}	
@media screen and (max-width:600px){
	.board_view .tit{padding:15px 10px;font-size:16px;}
	.board_view .info_area{padding:15px 10px;font-size:13px;}
	.board_view .brd_view_cont{padding:20px 10px;font-size:13px;}
	.board_view .f_left,
	.board_view .f_right{float:none !important;}
	.board_view .f_left{margin-bottom:15px;}
	.board_view .info_area .f_right li{padding:0 10px;}
	.board_view .info_area .f_right li:first-child{padding-left:0;}
}	
/* **************************************** *
 * gallery list
 * **************************************** */
.gallery_list{}
.gallery_list ul{margin-left:-30px;margin-top:-50px;}
.gallery_list ul:after{content:'';display:block;clear:both;}
.gallery_list ul li{float:left;width:calc(25% - 20px);margin-left:20px;margin-top:50px;padding-bottom:30px;border-bottom:1px solid #e0e0e0;transition:all 0.4s;}
.gallery_list ul li .img{position:relative;}
.gallery_list ul li .txt_box{}
.gallery_list ul li .tit{margin:15px 0 10px;font-size:18px;color:#333;}
.gallery_list ul li .txt{margin-bottom:10px;font-size:15px;color:#666;}
.gallery_list ul li .term{font-size:15px;color:#999;}

@media screen and (max-width:1000px){
	.gallery_list ul{margin-left:-10px;margin-top:-30px;}
	.gallery_list ul li{width:calc(33.3333% - 10px);margin-left:10px;margin-top:30px;padding-bottom:20px;}
	.gallery_list ul li .tit{margin:10px 0 5px;font-size:14px;}
	.gallery_list ul li .txt{margin-bottom:7px;font-size:14px;}
	.gallery_list ul li .term{font-size:13px;}
}

@media screen and (max-width:767px){
	.gallery_list ul{margin-top:-15px;}
	.gallery_list ul li{width:calc(50% - 10px);margin-top:15px;padding-bottom:15px;}
	.gallery_list ul li .tit{font-size:13px;}
	.gallery_list ul li .txt{font-size:13px;}
	.gallery_list ul li .term{font-size:12px;}
}

/*@media screen and (max-width:420px){
	.gallery_list ul{margin-left:0;}
	.gallery_list ul li{width:100%;margin-left:0;}
	.gallery_list ul li .img img{width:100%;}
}*/

/* **************************************** *
 * 언론보도 list
 * **************************************** */
.report_lst{padding:0 0 30px;border-top:1px solid #333;}
.report_lst ul li{position:relative;float:left;width:100%;padding:30px 20px;border-bottom:1px solid #dedede;}
.report_lst ul li > a{position:relative;display:block;width:100%;height:100%;}
.report_lst ul li > a:after{content:'';display:block;clear:both;}
.report_lst ul li .img{float:left;width:180px;transition:all 0.4s;}
.report_lst ul li .txt_box{float:left;width:calc(100% - 180px - 25px);margin-left:25px;}
.report_lst ul li .txt_box *{width:100% !important;}
.report_lst ul li .txt_box .tit {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:21px;color:#000;}
.report_lst ul li .txt_box .txt {margin:10px 0 15px;font-size:16px;color:#999;}
.report_lst ul li .txt_box .date{font-size:16px;color:#666;}

@media screen and (max-width:768px){
	.report_lst ul li{padding:20px 15px;}
	.report_lst ul li .txt_box .tit{font-size:18px;}
	.report_lst ul li .txt_box .txt{font-size:14px;}
	.report_lst ul li .txt_box .date{font-size:14px;}
}
@media screen and (max-width:640px){
	.report_lst ul li{padding:20px 15px;}
	.report_lst ul li .img{width:150px;}
	.report_lst ul li .txt_box{width:calc(100% - 150px - 15px);margin-left:15px;}
	.report_lst ul li .txt_box .tit{font-size:16px;}
	.report_lst ul li .txt_box .txt{margin:7px 0 8px;font-size:13px;}
	.report_lst ul li .txt_box .date{font-size:13px;}
}
@media screen and (max-width:420px){
	.report_lst ul li .img{width:120px;}
	.report_lst ul li .txt_box{width:calc(100% - 120px - 10px);margin-left:10px;}
}

/* **************************************** *
 * faq_list
 * **************************************** */
#faq_wrap {margin:10px 0 30px}
#faq_wrap h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#faq_wrap ol {margin:0;padding:0;list-style:none}
#faq_wrap li{border:1px solid #ddd;background:#fff;margin:10px 0;}
#faq_wrap li h3{min-height:30px;line-height:30px;padding:0px;padding-left:55px;position:relative}
#faq_wrap li h3 a {display:block; padding:15px 50px 15px 0;}
#faq_wrap li h3 a:before {content:"\f106"; font-family:FontAwesome; position:absolute; right:20px; font-size:25px; color:#6d6d6d;}
#faq_wrap li h3 a.on:before{ transform: rotate( 180deg );}
#faq_wrap li h3 .tit_bg{display:inline-block;position:absolute;top:15px;left:15px;text-align:center;background:#333;color:#fff;width:30px;height:30px}
#faq_con .con_inner{display:none;border-top:1px solid #ddd;padding:20px 15px;padding-left:55px;position:relative;background: #f7f7f7;}
#faq_con .con_inner .tit_bg{display:inline-block;position:absolute;top:15px;left:15px;text-align:center;background:#eb5b59;color:#fff;width:30px;line-height:30px;height:30px}
#faq_con .con_inner .closer_btn{height:25px;font-size:0.92em;display:inline-block;padding:0 5px;border-radius:5px;}
#faq_con .con_closer{text-align:right}

@media screen and (max-width:640px){
	#faq_wrap li h3 .tit_bg {top:11px;}
	#faq_wrap li h3 a {padding:10px 32px 10px 0 !important;font-size:0.8em; line-height:22px;}
	#faq_con .con_inner p {font-size:0.75em;}
}


/* **************************************** *
 * password_check
 * **************************************** */
.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:555;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer .pop-layer {display:block;}
.pop-layer {display:none; position: absolute; top: 50%; left: 50%; height:auto; padding:10px; background:#fff; z-index: 10; }
.password_check{position:relative;width:600px;margin:0 auto;padding:60px 0 75px;border-top:2px solid #222;border-bottom:1px solid #dedede;background:#fff;}
.password_check .inner{text-align:center;}
.password_check .inner .tit{font-size:25px;color:#000;}
.password_check .inner .sub_tit{margin:15px 0 35px;font-size:16px;color:#000;}
.password_check .inner .sub_tit span{color:#ff5400;}
.password_check .inner .text_lock{display:table;margin:0 auto;}
.password_check .inner .text_lock *{display:table-cell;margin:0 3px;}
.password_check .inner .text_lock input{width:285px;height:44px;}
.password_check .inner .text_lock .btn{width:100px;height:44px;line-height:44px;padding:0;background:#222;color:#fff;}
.password_check .inner .btn-r{position:absolute;top:0;right:0;}
.password_check .inner .btn-r .cbtn{position:relative;display:block;}
.password_check .inner .btn-r .cbtn:before{content:'\f00d';font-family: 'fontAwesome';font-size:40px;font-weight:300;color:#000;}
.password_check .inner .btn-r .cbtn span{font-size:0;}

@media screen and (max-width:800px){
	.password_check{width:100%;padding:40px 0 30px;}
	.password_check .inner .tit{font-size:20px;}
	.password_check .inner .sub_tit{margin:10px 0 25px;font-size:14px;}
	.password_check .inner .text_lock input{width:200px;height:36px;}
	.password_check .inner .text_lock .btn{width:70px;height:36px;line-height:36px;}
	.password_check .inner .btn-r .cbtn:before{font-size:30px;}
}



.reviews_write{border-top:2px solid #222;border-bottom:3px solid #f6bdbf;}
.reviews_write dl{border-bottom:1px solid #e6e6e6;}
.reviews_write dl:after{content:'';display:block;clear:both;}
.reviews_write dl.textarea_cont dt{width:0;}
.reviews_write dl.textarea_cont dd{width:100%;}

.reviews_write dl dt,
.reviews_write dl dd{float:left;padding:20px 15px;min-height:71px;line-height:38px;}
.reviews_write dl dt{width:15%;font-family: 'Arita_dotum_SemiBold';font-size:15px;color:#444;}
.reviews_write dl dd{width:85%;}
.reviews_write dl dd .input_tit{color:#0f9691;}
.reviews_write dl dd .w100{width:100%;}
.reviews_write dl.group dd{width:35%;}


.fileBox .fileName {display:inline-block;width:190px;height:36px;padding-left:10px;margin-right:5px;line-height:36px;border:1px solid #aaa;background-color:#fff;vertical-align:middle}
.fileBox .btn_file {display:inline-block;background:#7f7f7f;width:100px;height:36px;margin:0;font-size:0.8em;color:#fff;line-height:36px;text-align:center;vertical-align:middle}
.fileBox input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

.attach dt span a{display:inline-block;width:14px;height:14px;font-size:14px;font-weight:600;color:#fff;}
.attach dt span#upfileAdd a{background:url(/travel/common/board/icon_plus.gif) no-repeat 0 0;}
.attach dt span#upfileDel a{background:url(/travel/common/board/icon_plus.gif) no-repeat 0 0;}

@media screen and (max-width:767px){
	.reviews_write dl dt{width:20%;}
	.reviews_write dl dd{width:calc(100% - 20%);}
	.reviews_write dl.group dd{width:30%;}
	.reviews_write dl dt, 
	.reviews_write dl dd{padding:15px 10px;font-size:14px;}
	.reviews_write dl dt{line-height:35px;}
	
	.password_check .inner .tit{font-size:16px;}
	.password_check .inner .sub_tit{font-size:13px;}
}	


@media screen and (max-width:640px){
	.reviews_write dl dt{font-size:12px;letter-spacing:-1px;}
	.reviews_write dl.group dt,
	.reviews_write dl.group dd{border-bottom:1px solid #e6e6e6;}
	.reviews_write dl.group dd{width:80%;}
	
	.file_input_textbox{width:calc(100% - 87px);height:35px;}
	.file_input_div{width:auto;}
	.file_input_button{width:87px; height:35px;line-height:35px;font-size:12px;}
	
	
}

@media screen and (max-width:420px){
	.reviews_write dl dt, 
	.reviews_write dl dd{min-height:60px;padding:10px 6px;}