@charset "utf-8";


/* **************************************** *
 * 2021 page 혼잡도
 * **************************************** */

.summer_area{width:100%;}
.summer_area:after{content:'';display:block;clear:both;}
.summer_area .summer_left{float:left;width:45%;max-width:480px;}
.summer_area .summer_right{float:right;width:53%;}
.summer_location .cssSelect{position:relative;display:inline-block;width: 100%; height:48px;}
.summer_location .cssSelect button{box-sizing:border-box; width: 100%; height:48px; padding:0 22px 0 20px;background:none; border-bottom:2px solid #424238;font-size:20px; color:#333; text-align: left;}
.summer_location .cssSelect button:after{position:absolute; top:30%; right:22px; width:0; height:0; border-top:14px solid #ccc; border-left:10px solid transparent; border-right:10px solid transparent; content:'';transition:all .25s;}
.summer_location .cssSelect.on button:after{-webkit-transform:rotate(180deg); transform:rotate(180deg);}
.summer_location .cssSelect .lst{display:none;z-index:9999; position:absolute; top:45px; left:0; box-sizing:border-box; width:100%;background:#fff;border:5px solid #ccc;}
.summer_location .cssSelect.on .lst{display:block;padding:20px;}
.summer_location .cssSelect.on .lst li a{display:block; padding: 0 20px; font-size: 18px; color:#333; line-height: 1.6;}
.summer_location .cssSelect.on .lst li a:hover,
.summer_location .cssSelect.on .lst li a:focus{background:#868484;color:#fff;}

.spot_info{position:absolute;top:15px;left:0;width:40%;}

.location_map{position:relative;width:auto;height:auto;}
.location_map .blinker{display:inline-block;width:auto;height:18px;background:#171e3c;border-radius:0.2em;vertical-align:middle;}

.icon{display:inline-block;width:auto;height:18px;padding:2px;padding-right:49px;}
.icon.green{block;background:url(../images/main_summer/icon_green.png) no-repeat 96% center;}
.icon.yellow{background:url(../images/main_summer/icon_yellow.png) no-repeat 96% center;}
.icon.red{background:url(../images/main_summer/icon_red.png) no-repeat 96% center;}
.icon.on{width:55px;border-radius:0.2em;text-align:center;}
.tbl_icon.icon.green.on{width:55px;background:#171e3c url(../images/main_summer/icon_green.png) no-repeat center center;}
.tbl_icon.icon.yellow.on{width:55px;background:#171e3c url(../images/main_summer/icon_yellow.png) no-repeat center center;}
.tbl_icon.icon.red.on{width:55px;background:#171e3c url(../images/main_summer/icon_red.png) no-repeat center center;}
.name{float:left;display:inline-block;padding:0 6px;background:#fff;border-radius:0.2em;font-size:12px;font-weight:600;color:#171e3c;line-height:14px;}

.blinker.active{display:;}
/******** 부산 ********/
.location_map .blinker{position:absolute;}
.location_map .blinker.spot1{/*top:239px;left:360px;*/top:43.42%;left:79%;}/* 임랑 */
.location_map .blinker.spot2{/*top:268px;left:362px;*/top:47.85%;left:75.41%;}/* 일광 */
.location_map .blinker.spot3{/*top:323px;left:272px;*/top:51.78%;left:63.75%;}/* 송정 */
.location_map .blinker.spot4{/*top:290px;left:306px;*/top:57.67%;left:56.66%;}/* 해운대 */
.location_map .blinker.spot5{/*top:308px;left:300px;*/top:55%;left:62.5%;}/* 광안리 */
.location_map .blinker.spot6{/*top:388px;left:192px;*/top:69.28%;left:40%;}/* 송도 */
.location_map .blinker.spot7{/*top:415px;left:135px;*/top:74.1%;left:28.12%;}/* 다대포 */

/******** 강원도 ********/
.location_map .blinker.ko_spot1{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 강문 */
.location_map .blinker.ko_spot2{/*top:166px;left:298px;*/top:21.64%;left:54%;}/* 경포대 */
.location_map .blinker.ko_spot3{/*top:166px;left:298px;*/top:28.64%;left:60%;}/* 금진 */
.location_map .blinker.ko_spot4{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 도직 */
.location_map .blinker.ko_spot5{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 등명 */
.location_map .blinker.ko_spot6{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 사근진 */
.location_map .blinker.ko_spot7{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 사천 */
.location_map .blinker.ko_spot8{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 사천진 */
.location_map .blinker.ko_spot9{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 송정 */
.location_map .blinker.ko_spot10{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 순긋 */
.location_map .blinker.ko_spot11{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 안목 */
.location_map .blinker.ko_spot12{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 안인 */
.location_map .blinker.ko_spot13{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 연곡 */
.location_map .blinker.ko_spot14{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 영진 */
.location_map .blinker.ko_spot15{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 옥계 */
.location_map .blinker.ko_spot16{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 정동진 */
.location_map .blinker.ko_spot17{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 주문진해변 */
.location_map .blinker.ko_spot18{/*top:166px;left:298px;*/top:29.64%;left:60%;}/*하평  */
.location_map .blinker.ko_spot19{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 가진진 */
.location_map .blinker.ko_spot20{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 거진11리 */
.location_map .blinker.ko_spot21{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 거진1리 */
.location_map .blinker.ko_spot22{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 공현진1리 */
.location_map .blinker.ko_spot23{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 공현진2리 */
.location_map .blinker.ko_spot24{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 교암리 */
.location_map .blinker.ko_spot25{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 대진1리 */
.location_map .blinker.ko_spot26{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 대진5리 */
.location_map .blinker.ko_spot27{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 마차진 */
.location_map .blinker.ko_spot28{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 명파리 */
.location_map .blinker.ko_spot29{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 문암진2리 */
.location_map .blinker.ko_spot30{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 문암캠핑장 */
.location_map .blinker.ko_spot31{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 반암리 */
.location_map .blinker.ko_spot32{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 백도 */
.location_map .blinker.ko_spot33{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 봉수대 */
.location_map .blinker.ko_spot34{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 봉포리 */
.location_map .blinker.ko_spot35{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 삼포 */
.location_map .blinker.ko_spot36{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 삼포2리 */
.location_map .blinker.ko_spot37{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 송지호 */
.location_map .blinker.ko_spot38{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 송지호오토캠핑장 */
.location_map .blinker.ko_spot39{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 아야진리 */
.location_map .blinker.ko_spot40{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 자작도 */
.location_map .blinker.ko_spot41{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 천진리 */
.location_map .blinker.ko_spot42{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 청간리 */
.location_map .blinker.ko_spot43{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 초도리 */
.location_map .blinker.ko_spot44{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 켄싱턴리조트 */
.location_map .blinker.ko_spot45{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 화진포 */
.location_map .blinker.ko_spot46{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 화진포 콘도 */
.location_map .blinker.ko_spot47{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 노봉 */
.location_map .blinker.ko_spot48{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 망상 */
.location_map .blinker.ko_spot49{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 어달 */
.location_map .blinker.ko_spot50{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 추암 */
.location_map .blinker.ko_spot51{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 궁촌 */
.location_map .blinker.ko_spot52{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 덕산 */
.location_map .blinker.ko_spot53{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 맹방 */
.location_map .blinker.ko_spot54{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 문암 */
.location_map .blinker.ko_spot55{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 부남 */
.location_map .blinker.ko_spot56{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 삼척 */
.location_map .blinker.ko_spot57{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 오분(간이) */
.location_map .blinker.ko_spot58{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 용화 */
.location_map .blinker.ko_spot59{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 원평 */
.location_map .blinker.ko_spot60{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 작은후진 */
.location_map .blinker.ko_spot61{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 장호 */
.location_map .blinker.ko_spot62{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 증산  */
.location_map .blinker.ko_spot63{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 하맹방 */
.location_map .blinker.ko_spot64{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 등대 */
.location_map .blinker.ko_spot65{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 속초 */
.location_map .blinker.ko_spot66{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 외옹치 */
.location_map .blinker.ko_spot67{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 갯마을 */
.location_map .blinker.ko_spot68{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 광진 */
.location_map .blinker.ko_spot69{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 기사문 */
.location_map .blinker.ko_spot70{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 낙산 */
.location_map .blinker.ko_spot71{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 남애1 */
.location_map .blinker.ko_spot72{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 남애3 */
.location_map .blinker.ko_spot73{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 동산 */
.location_map .blinker.ko_spot74{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 동산포 */
.location_map .blinker.ko_spot75{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 동호 */
.location_map .blinker.ko_spot76{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 물치 */
.location_map .blinker.ko_spot77{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 북분 */
.location_map .blinker.ko_spot78{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 설악 */
.location_map .blinker.ko_spot79{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 송전 */
.location_map .blinker.ko_spot80{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 원포 */
.location_map .blinker.ko_spot81{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 인구 */
.location_map .blinker.ko_spot82{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 잔교 */
.location_map .blinker.ko_spot83{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 정암 */
.location_map .blinker.ko_spot84{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 죽도 */
.location_map .blinker.ko_spot85{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 중광정 */
.location_map .blinker.ko_spot86{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 지  경 */
.location_map .blinker.ko_spot87{/*top:166px;left:298px;*/top:29.64%;left:60%;}/* 하조대 */



@media screen and (max-width:1000px){
	.summer_area > div{float:none !important;width:100% !important; margin:0 auto;}
}
@media screen and (max-width:640px){
	.summer_location .cssSelect button{height:40px;font-size:16px;}
	.summer_location .cssSelect button:after{border-top:10px solid #ccc; border-left:8px solid transparent; border-right:8px solid transparent;}
	.summer_location .cssSelect .lst{top:40px;}
	.summer_location .cssSelect.on .lst li a{font-size:14px;}
	.name{font-size:10px;}
}

.brd_scroll{max-height:700px;overflow-y:auto;}
.brd_list {border-bottom:1px solid #d2d2d2;}
.brd_list {width:100%; word-break:break-all;}
.brd_list thead th {position:relative;padding:12px 15px;border-bottom:2px solid #424238;color:#333;}
.brd_list thead th:before{content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top:-5px;width:1px;height:10px;background:#d2d2d2;}
.brd_list thead th:first-child:before{display:none;}
.brd_list tbody td {padding:10px 12px;border-bottom:1px solid #dcdee0}
.brd_list tbody td img {vertical-align:middle}
.brd_list tbody td.data a {font-size:13px;color:#ababac}
.btn_loc{position:relative;display:inline-block;width:85px;height:33px;line-height:33px;padding-left:28px;background:#f6f6f6;border:1px solid #e8e8e8;border-radius:0.2em;font-size:12px;font-weight:600;color:#464646;}
.btn_loc.on{background:#171e3c;color:#fff;}
.btn_loc:before{content:'';display:inline-block;position:absolute;top:50%;left:7px;margin-top:-11.5px;width:20px;height:23px;background:url(../images/main_summer/icon_summer_loc.png) no-repeat 0 50%;}

@media screen and (max-width:768px){
    
    .brd_list *[data-table-type="brd_number"],
    .brd_list *[data-table-type="brd_file_count"],
    .brd_list *[data-table-type="brd_views_count"]{display:none;}
    .brd_list th,
    .brd_list td{font-size:14px;}
    .brd_list *[data-table-type="brd_subject"]{width:calc(100% - 30%);}
    .brd_list *[data-table-type="brd_subject"]:before{display:none;}
    .brd_list *[data-table-type="brd_w_date"]{width:30%;}
    
}
@media screen and (max-width:640px){
    
    .brd_list tbody td{padding:10px 15px;}
    .brd_list th,
    .brd_list td{font-size:13px;}
    .btn_loc{width:65px;height:24px;line-height:24px;padding-left:18px;font-size:11px;}
    .btn_loc:before{left:3px;background-size:60%;}
    
} 
@media screen and (max-width:420px){
    .brd_list thead th,
    .brd_list tbody td{padding:10px 5px;}
    .brd_list th,
    .brd_list td{font-size:11px;}
    
}  
     

