@charset "utf-8";


.conBox{margin-bottom:55px;}

.icon_box{float:right;}
.icon_box a{position:relative;z-index:99;display:inline-block;width:24px;height:24px;margin-left:4px;text-indent:-999em;}
.icon_box a.clip{background:url(/seantour_map/images/travel/content/icon_clip_off.png) no-repeat 0 0;background-size:cover;}
.icon_box a.heart{background:url(/seantour_map/images/travel/content/icon_heart_off.png) no-repeat 0 0;background-size:cover;}
.icon_box a.clip:hover,
.icon_box a.clip.on{background:url(/seantour_map/images/travel/content/icon_clip_on.png) no-repeat 0 0;background-size:cover;}
.icon_box a.heart:hover,
.icon_box a.heart.on{background:url(/seantour_map/images/travel/content/icon_heart_on.png) no-repeat 0 0;background-size:cover;}

/*카카오 공유버튼 직접 추가함 - by TZ*/
/*.icon_box a.kakao{background:url(https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png) no-repeat 0 0;background-size:cover;}*/
.icon_box a.kakao{background:url(/seantour_map/images/travel/common/kakaolink_btn_gray_small.png) no-repeat 0 0;background-size:cover;}
.icon_box a.kakao:hover,
.icon_box a.kakao.on{background:url(/seantour_map/images/travel/common/kakaolink_btn_small.png) no-repeat 0 0;background-size:cover;}

/* **************************************** *
 * 검색
 * **************************************** */

.bbsSrch{max-width:1200px;margin:25px auto; padding:25px 0 25px; border:1px solid #d4d4d4; text-align:center; background:#fff;}
.bbsSrch:after{content:""; display:block; clear:both;}
.bbsSrch select,
.bbsSrch input[type=text]{height:45px;line-height:45px;padding:0 8px;font-size:16px;}
.bbsSrch select{width:125px;}
.bbsSrch input.word{width:35%;background:#f7f7f7;}
.bbsSrch .bbs_btn{width:110px;height:45px;line-height:45px;background:#6f7470;border:none;font-size:16px;color:#fff;text-align:center;}

/* **************************************** *
 * 메모
 * **************************************** */
 .memo_result_area{box-sizing:border-box;width:100%;margin-top:25px;paddding:15px 20px;background:#f0f0f0;border:1px solid #e8e8e8;border-radius:0.7em;}
 .memo_result_area .memo_inner{position:relative;height:100px;overflow-y:auto;padding:5px 5px 5px 30px;}
 .memo_result_area .memo_inner:before{content:'';display:inline-block;position:absolute;top:15px;left:15px;width:21px;height:21px;background:url(/seantour_map/images/travel/content/icon_memo.png) no-repeat 0 0;}
/* **************************************** *
 * paging
 * **************************************** */
.pagination{margin:20px 0; text-align:center; line-height:normal;}
.pagination a,
.pagination strong{display:inline-block; position:relative; box-sizing:border-box; min-width:32px; height:32px; padding:0 5px; line-height:32px; margin:2px 0px; box-sizing:border-box; background:#fff;  font-size:15px; font-weight:600; color:#111; text-decoration:none; vertical-align:middle;}
.pagination strong{position:relative; z-index:10; color:#930c88; text-decoration:underline;}
.pagination a[class^="page_"]{overflow:hidden; text-indent:-9999em;}
.pagination .page_prev:after,
.pagination .page_prevend:after,
.pagination .page_next:after,
.pagination .page_nextend:after{content:''; position:absolute; top:0; left:0; right:0; bottom:0; width:14px; height:11px; margin:auto;}
.pagination .page_prev:after{width:7px; background:url(/seantour_map/images/travel/common/icon_prev.gif) no-repeat 0 0;}
.pagination .page_prevend:after{background:url(/seantour_map/images/travel/common/icon_prevend.gif) no-repeat 0 0;}
.pagination .page_next:after{width:7px; background:url(/seantour_map/images/travel/common/icon_next.gif) no-repeat 0 0;}
.pagination .page_nextend:after{background:url(/seantour_map/images/travel/common/icon_nextend.gif) no-repeat 0 0;}

/* **************************************** *
 * 추천여행 lst
 * **************************************** */
.page_num{margin-bottom:20px;padding-bottom:12px;border-bottom:1px solid #d2d2d2;font-size:16px;color:#545454;}
.page_num span{color:#ff5050;}
.recommend_lst{max-width:1200px;margin:0 auto;}
.recommend_lst ul:after{content:'';display:block;clear:both;}
.recommend_lst>ul>li{float:left;position:relative;width:calc(33.333% - 2/3*20px);margin-right:20px;margin-top:20px;padding:15px;background:#fff;border:2px solid #e6e6e6;transition:all .3s;-webkit-transition:all .3s;}
.recommend_lst>ul>li:nth-of-type(3n){margin-right:0;}
.recommend_lst>ul>li:after{content:""; position:absolute;  top:-2px; left:-2px; right:-2px; bottom:-2px; border:#0c68ca 0 solid; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.recommend_lst>ul>li:hover:after{border:3px solid #ff5050;}
.recommend_lst>ul>li.none{width:100%;border:none;text-aling:center;}
.recommend_lst>ul>li.none:after{display:none;}
.recommend_lst li .img{position:relative;height:236px;}
.recommend_lst li .img a{position:relative;display:block;width:100%;height:100%;z-index:99;}
.recommend_lst li .img img{width:100%;height:100%;}
.recommend_lst li .img .title{position:absolute;top:0;left:0;display:inline-block;width:170px;height:34px;line-height:34px;background:#047db2;font-size:16px;color:#fff;text-align:center;}
.recommend_lst li .txt{min-height:44px;margin:14px 0 40px;font-size:16px;color:#545454;}
.recommend_lst li .txt a{position:relative;display:block;z-index:99;}
.recommend_lst li .txt a:hover,
.recommend_lst li .txt a:focus,
.recommend_lst li .txt a:active{text-decoration:underline;}
.recommend_lst li .info{font-size:14px;color:#545454;}
.recommend_lst li .info:after{content:'';display:block;clear:both;}
.recommend_lst li .info .name{float:left;}
.recommend_lst li .info .lst{float:right;}
.recommend_lst li .info .lst:after{content:'';display:block;clear:both;}
.recommend_lst li .info .lst li{float:left;margin-left:15px;font-size:14px;color:#545454;}
.recommend_lst li .info .lst li .reco_num{position:relative;margin-right:5px;padding-right:5px;}
.recommend_lst li .info .lst li .reco_num:after{content:'';display:inline-block;position:absolute;top:50%;right:0;margin-top:-3.5px;width:1px;height:10px;background:#c3c3c3;}
.recommend_lst li .info .lst li .num{font-size:12px;color:#ff5050;}
.recommend_lst li .info.btnarea li{position:relative;margin-left:5px;padding-left:5px;}
.recommend_lst li .info.btnarea li a{z-index:101;position:relative;color:#0c68ca ;}
.recommend_lst li .info.btnarea li:before{content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top:-3.5px;width:1px;height:10px;background:#c3c3c3;}
.recommend_lst li .info.btnarea li:first-child:before{display:none;}

.recommend_lst  .memo_result_area{box-sizing:border-box;width:100%;padding:15px;background:#f7f7f7;border-radius:0.7em;}

/* **************************************** *
 * 추천여행 detail page
 * **************************************** */
.map_route_wrap{}

.map_route_wrap:after{content:'';display:block;clear:both;}
.map_route_wrap .map_route{float:right;width:446px;margin-bottom:30px;border:1px solid #d2d2d2;}
.map_route_wrap .map_route .map{width:446px;height:437px;background:url(/seantour_map/images/travel/content/img_recommend_map.jpg) no-repeat 0 0;background-size:cover;}
.map_route_wrap .map_route .map svg{width:inherit !important;height:inherit !important;}
.map_route_wrap .map_day_route{border-top:1px solid #d2d2d2;}
.map_route_wrap .map_day_route dt{width:100%;height:45px;line-height:45px;background:#f6f6f6;border-bottom:1px solid #d2d2d2;}
.map_route_wrap .map_day_route:last-child dt{border-bottom:none;}
.map_route_wrap .map_day_route dt.on{background:#fff;border-bottom:none;}
.map_route_wrap .map_day_route dt a{position:relative;display:block;padding:0 30px;font-size:18px;}
.map_route_wrap .map_day_route dt a:before{content:'';display:inline-block;position:absolute;top:50%;margin-top:-3px;right:17px;width:11px;height:6px;background:url(/seantour_map/images/travel/content/icon_route_arr.png) no-repeat 0 0;transition:all .4s;}
.map_route_wrap .map_day_route dt.on a:before {transform: rotate(180deg);}
.map_route_wrap .map_day_route dd{padding:0 30px 10px;}
.map_route_wrap .map_day_route dd ul{margin-top:-5px;}
.map_route_wrap .map_day_route dd ul:after{content:'';display:block;clear:both;}
.map_route_wrap .map_day_route dd ul li{float:left;width:33.333%;margin-top:5px;font-size:14px;font-weight:600;color:#828282;}
.map_route_wrap .map_day_route dd ul li .num{display:inline-block;width:16px;height:16px;line-height:16px;margin-right:7px;background:#ff5050;border-radius:0.2em;font-size:10px;color:#fff;text-align:center;}

#map_wrap{position:relative;}
.map_route_wrap .map_day_route .routes-info{position:absolute;bottom:10px;right:10px;padding:10px;background:#fff;}
.map_route_wrap .map_day_route .routes-info span{display:block;text-align:right;font-size:13px; color:#005fd4;}
.map_route_wrap .map_day_route .routes-info span:last-child{display:none;}
.map_route_wrap .recommend_days_lst{float:left;width:calc(100% - 446px - 30px);margin-right:30px;}
.map_route_wrap .recommend_days_lst .tit_box{}
.map_route_wrap .recommend_days_lst .tit_box .name{position:relative;height:39px;line-height:39px;padding-left:50px;font-size:16px;color:#545454;}
.map_route_wrap .recommend_days_lst .tit_box .name:before{content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top:-19.5px;width:39px;height:39px;background:url(/seantour_map/images/travel/content/img_name.jpg) no-repeat 0 0;background-size:cover;}
.map_route_wrap .recommend_days_lst .tit_box .tit{margin:12px 0;font-size:26px;font-weight:600;}
.map_route_wrap .recommend_days_lst .tit_box .info{font-size:16px;}
.map_route_wrap .recommend_days_lst .tit_box .info:after{content:'';display:block;clear:both;}
.map_route_wrap .recommend_days_lst .tit_box .info .list{float:left;}
.map_route_wrap .recommend_days_lst .tit_box .info .list:after{content:'';display:block;clear:both;}
.map_route_wrap .recommend_days_lst .tit_box .info .list li{float:left;}
.map_route_wrap .recommend_days_lst .tit_box .info .list li:first-child{position:relative;margin-right:7px;padding-right:8px;}
.map_route_wrap .recommend_days_lst .tit_box .info .list li:first-child:after{content:'';display:inline-block;position:absolute;top:6px;right:0;width:1px;height:13px;background:#d2d2d2;}
.map_route_wrap .recommend_days_lst .tit_box .info .date{float:right;color:#a2a2a2;}
.map_route_wrap .re_days_area{margin-top:40px;}
.map_route_wrap .re_days_area .day_num{margin-bottom:5px;font-size:18px;font-weight:600;}
.map_route_wrap .re_days_area .list{border-top:1px solid #848484;}
.map_route_wrap .re_days_area .list li{position:relative;height:auto !important;padding:19px;border-bottom:1px solid #dedede;cursor:pointer;}
.map_route_wrap .re_days_area .list li:after{content:'';display:block;clear:both;}
.map_route_wrap .re_days_area .list li{height:35px;line-height:35px;padding:20px 0;}
.map_route_wrap .re_days_area .list li .img,
.map_route_wrap .re_days_area .list li .txt_box{float:left;}
.map_route_wrap .re_days_area .list li .img{box-sizing:border-box;width:96px;height:86px;overflow:hidden;}
.map_route_wrap .re_days_area .list li .img img{width:100%;height:100%;border:1px solid #d2d2d2;}
.map_route_wrap .re_days_area .list li .txt_box{width:calc(100% - 96px - 15px);margin-left:15px;font-size:14px;line-height:1.3;}
.map_route_wrap .re_days_area .list li .txt_box .tit{font-size:18px;font-weight:600;}
.map_route_wrap .re_days_area .list li .txt_box .txt_area{position:relative;margin-top:15px;font-size:14px;color:#828282;}
.map_route_wrap .re_days_area .list li .txt_box .txt_area .txt{margin-top:4px;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap;}
.map_route_wrap .re_days_area .list li .txt_box .more{position:absolute;top:15px;right:0;display:inline-block;margin-top:5px;padding-right:10px;font-size:14px;font-weight:600;color:#004986;}
.map_route_wrap .re_days_area .list li .txt_box .more:after{content:'+';display:inline-block;position:absolute;top:0;right:0;font-size:11px;color:#2a97cf;}

/* **************************************** *
 * 바다여행 지역별 lst
 * **************************************** */
.local_lst{max-width:1200px;margin:0 auto;}
.local_lst ul:after{content:'';display:block;clear:both;}
.local_lst>ul>li{z-index:10;float:left;position:relative;width:calc(25% - 3/4*15px);height:320px;margin-right:15px;margin-top:15px;padding:7px;background:#fff;border:1px solid #d2d2d2;transition:all .3s;-webkit-transition:all .3s;}
.local_lst>ul>li:nth-of-type(4n){margin-right:0;}
.local_lst>ul>li:after{z-index:11;content:""; position:absolute;  top:-2px; left:-2px; right:-2px; bottom:-2px; border:#0c68ca 0 solid; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.local_lst>ul>li:hover:after{border:1px solid #ff5050;}
.local_lst li .img{height:195px;}
.local_lst li .img a{position:relative;display:block;width:100%;height:100%;z-index:99;}
.local_lst li .img img{width:100%;height:100%;} 
.local_lst li .tbox{margin:10px 0;} 
.local_lst li .tbox .tit{font-size:16px;font-weight:600;}
.local_lst li .tbox .tit > a{position:relative;display:block;z-index:99;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.local_lst li .tbox .tit > a:hover,
.local_lst li .tbox .tit > a:focus,
.local_lst li .tbox .tit > a:active{text-decoration:underline;}
.local_lst li .tbox .tit span{box-sizing:border-box;display:inline-block;width:55px;height:25px;line-height:25px;margin-right:10px;border:1px solid #d2d2d2;font-size:14px;font-weight:400;text-align:center;}
.local_lst li .tbox .location{position:relative;margin:10px 0 5px;padding-left:18px;font-size:16px;color:#8282828;}
.local_lst li .tbox .location:before{content:'';display:inline-block;position:absolute;top:5px;left:0;width:13px;height:16px;background:url(/seantour_map/images/travel/content/icon_location.gif) no-repeat 0 0;}
.local_lst li .icon_box{position:absolute;bottom:10px;right:10px;}


/* **************************************** *
 * 바다여행 지역별  상세페이지
 * **************************************** */
.local_map_area:after{content:'';display:block;clear:both;}
.local_map_area .localzone{float:left;width:661px;transition:all 0.4s;}
.local_map_area .local_map{float:right;width:calc(100% - 661px - 15px);height:440px;background:url(/seantour_map/images/travel/content/img_local_map.jpg) no-repeat 0 0;border:1px solid #d2d2d2;transition:all 0.4s;}
.localzone{position:relative;}
.localzone .bx-viewport{z-index:10;}
.localzone li{height:440px;}
.localzone li img{width:100%;height:100%;border:1px solid #d2d2d2;}
.localzone .btn{position:absolute;right:0;bottom:0;width:130px;height:45px;background:rgba(0,0,0,.8); z-index:99;}
.localzone .btn > a{display:inline-block;position:absolute;top:15px;width:18px;height:18px;background-repeat:no-repeat;text-indent:-999em;}
.localzone .btn .prev{left:22px;background:url(/seantour_map/images/travel/content/btn_bx_prev.png) no-repeat 0 0;}
.localzone .btn .next{left:95px;background:url(/seantour_map/images/travel/content/btn_bx_next.png) no-repeat 0 0;}
.localzone .bx-controls{position:absolute;right:45px;bottom:13px; z-index:100;}
.localzone .bx-default-pager{padding:0 7px;font-size:12px;color:#fff;height:17px;line-height:17px;letter-spacing:-1px;font-weight:600;}
.local_info_area{margin:50px 0 0;padding:25px 35px;border:1px solid #ddd;}
.local_info_area .info_lst{margin-top:-8px;margin-bottom:50px;padding-bottom:30px;border-bottom:1px dashed #aaa;}
.local_info_area .info_lst:after{content:'';display:block;clear:both;}
.local_info_area .info_lst li{position:relative;float:left;box-sizing:border-box;width:50%;margin-top:8px;padding-left:10px;transition:all 0.4s;}
.local_info_area .info_lst li img{width:100%;}
.local_info_area .info_lst li:before{content:'';display:inline-block;position:absolute;top:10px;left:0;width:2px;height:2px;background:#d2d2d2;}
.local_info_area .info_lst li *{float:left;display:inline-block;}
.local_info_area .info_lst li span{position:relative;width:15%;margin-right:2.5%;padding-right:2.5%;}
.local_info_area .info_lst li span:after{content:'';display:inline-block;position:absolute;top:5px;right:0;width:1px;height:15px;background:#d2d2d2;}
.local_info_area .info_lst li p{width:calc(100% - 20%);}

.local_info_area .info_txt{margin-bottom:40px;}
.local_info_area .info_txt .tit{position:relative;margin-bottom:10px;padding-left:28px;font-size:18px;font-weight:600;}
.local_info_area .info_txt .tit:before{content:'';display:inline-block;position:absolute;top:4px;left:0;width:18px;height:18px;background:url(/seantour_map/images/travel/content/icon_local_detail.gif) no-repeat 0 0;background-size:cover;}
.local_info_area .info_txt .txt{line-height:1.5;}

.local_info_area .info_txt .near_points_area:after{content:'';display:block;clear:both;}
.local_info_area .info_txt .near_points_box{float:left;width:calc(25% - 15px);margin-left:15px;text-align:center;}
.local_info_area .info_txt .near_points_box:nth-of-type(1){margin-left:0;}
.local_info_area .info_txt .near_points_box .near_point{height:250px;}
.local_info_area .info_txt .near_points .near_tit{display:inline-block;margin-bottom:5px;font-size:15px;cursor:pointer;}

/* **************************************** *
 * 명성 
 * **************************************** */
.fame_lst{position:relative;min-height:650px;margin-top:85px;}
.fame_lst:after{content:'';display:inline-block;position:absolute;top:0;left:0;width:290px;height:641px;background:url(/seantour_map/images/travel/content/bg_fame.jpg) no-repeat 0 0;background-size:cover;transition:all 0.4s;}
.fame_lst .flst{/*margin-top:-50px;*/}
.fame_lst .flst:after{content:'';display:block;clear:both;}
.fame_lst .flst li{float:left;box-sizing:border-box;width:290px;height:313px;margin-left:12px;margin-bottom:50px;padding:33px;border:1px solid rgba(0,0,0,0.1);box-shadow:5px 5px 5px rgba(0,0,0,.2);transition:all 0.4s;}
.fame_lst .flst li:nth-of-type(3n+1){margin-left:305px;}
.fame_lst .flst li:nth-of-type(7){margin-left:0 !important;}
.fame_lst .flst li:nth-of-type(10){margin-left:12px !important;}
.fame_lst .flst li .img{width:93px;height:93px;margin:0 auto;text-align:center;}
.fame_lst .flst li .img span{display:inline-block;width:91px;height:91px;border-radius:50%;}
.fame_lst .flst li .img img{width:100%;height:100%;border-radius:50%;}
.fame_lst .flst li:nth-of-type(1) .img,
.fame_lst .flst li:nth-of-type(2) .img,
.fame_lst .flst li:nth-of-type(3) .img{width:206px;height:169px;transition:all 0.4s;}
.fame_lst .flst li:nth-of-type(1) .img span,
.fame_lst .flst li:nth-of-type(2) .img span,
.fame_lst .flst li:nth-of-type(3) .img span{width:163px;height:163px;transition:all 0.4s;}
.fame_lst .flst li:nth-of-type(1) .img{background:url(/seantour_map/images/travel/content/bg_rank01.png) no-repeat 0 0;background-size:cover;}
.fame_lst .flst li:nth-of-type(2) .img{background:url(/seantour_map/images/travel/content/bg_rank02.png) no-repeat 0 0;background-size:cover;}
.fame_lst .flst li:nth-of-type(3) .img{background:url(/seantour_map/images/travel/content/bg_rank03.png) no-repeat 0 0;background-size:cover;}
.fame_lst .flst li .tbox{margin:25px 0 5px;font-size:16px;text-align:center;}
.fame_lst .flst li:nth-of-type(1) .tbox,
.fame_lst .flst li:nth-of-type(2) .tbox,
.fame_lst .flst li:nth-of-type(3) .tbox{margin:15px 0 5px;font-size:18px;font-weight:600;color:#424242;}


.fame_tit{position:relative;margin-bottom:25px;padding-left:30px;font-size:22px;color:#4e4e4e;}
.fame_tit:before{content:'';display:inline-block;position:absolute;top:7px;left:0;width:20px;height:20px;background:url(/seantour_map/images/travel/content/icon_fame_tit.png) no-repeat 0 0;background-size:cover;}
.fame_infobox{box-sizing:border-box;margin-top:60px;padding:40px 35px;background:#f0f0f0;border:1px solid #e4e4e4;}
.fame_infobox .fame_info_lst{margin-top:50px;}
.fame_infobox .fame_info_lst:after{content:'';display:block;clear:both;}
.fame_infobox .fame_info_lst li{float:left;width:25%;text-align:center;}
.fame_infobox .fame_info_lst li:nth-of-type(1){color:#2071b8;}
.fame_infobox .fame_info_lst li:nth-of-type(2){color:#7b634a;}
.fame_infobox .fame_info_lst li:nth-of-type(3){color:#767676;}
.fame_infobox .fame_info_lst li:nth-of-type(4){color:#ff6600;}
.fame_infobox .fame_info_lst li .tit{margin:10px 0 0;font-size:22px;}
.fame_infobox .fame_info_lst li .txt{font-size:19px;}

.fame_scoreinfo_box{box-sizing:border-box;margin-top:25px;padding:40px 35px;background:#fff;border:1px solid #e4e4e4;}
.fame_scoreinfo_box .tbox{position:relative;margin:0 60px;padding-left:40%;padding-bottom:20px;}
.fame_scoreinfo_box .tbox:after{content:'';display:inline-block;position:absolute;top:0;left:0;width:289px;height:231px;background:url(/seantour_map/images/travel/content/bg_fame_score_info.jpg) no-repeat 0 0;}
.fame_scoreinfo_box .tbox ul li{position:relative;margin-left:4px;padding:12px 0;padding-left:17px;border-bottom:1px solid #dbdbdb;}
.fame_scoreinfo_box .tbox ul li:before{content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top:-2.5px;width:5px;height:5px;background:#d2d2d2;border-radius:50%;}
.fame_scoreinfo_box .tbox ul li:after{content:'';display:block;clear:both;}
.fame_scoreinfo_box .tbox ul li .score_tit{float:left;display:inline-block;width:calc(100% - 20%);font-size:20px;}
.fame_scoreinfo_box .tbox ul li .score_txt{float:right;display:inline-block;width:20%;font-size:20px;color:#ed4b02;text-align:right;}

/* **************************************** *
 * 통계
 * **************************************** */
.popular_srch{margin-bottom:80px;}
.popular_srch ul:after{content:'';display:block;clear:both;}
.popular_srch ul li{float:left;min-height:55px;margin-right:20px;margin-top:15px;}
.popular_srch ul li a{display:inline-block;padding:10px 20px;border:1px solid #545454;border-radius:1.2em;font-size:14px;line-height:1.2;transition:all 0.4s;}
.popular_srch ul li a:hover,
.popular_srch ul li a:focus,
.popular_srch ul li a:active{border-color:#ff5050;color:#ff5050;}
/*a 태그 대신 span 사용위해 추가 by TZ*/
.popular_srch ul li span{display:inline-block;padding:10px 20px;border:1px solid #545454;border-radius:1.2em;font-size:14px;line-height:1.2;transition:all 0.4s;}
.popular_srch ul li span:hover,
.popular_srch ul li span:focus,
.popular_srch ul li span:active{border-color:#ff5050;color:#ff5050;}

.tab_menu{position:relative;width:100%;height:82px;padding:30px 60px 0;background:#004986;}
.tab_menu:after{content:'';display:inline-block;position:absolute;bottom:0;right:0;width:306px;height:178px;background:url(/seantour_map/images/travel/content/bg_tab_menu.png) no-repeat 100% 100%;}
.tab_menu ul:after{content:'';display:block;clear:both;}
.tab_menu ul li{float:left;margin-left:20%;}
.tab_menu ul li:first-child{margin-left:0;}
.tab_menu ul li a{position:relative;display:inline-block;padding:0 15px 15px;color:#fff;}
.tab_menu ul li a:before{content:'';display:inline-block;position:absolute;bottom:0;left:50%;width:0%;height:4px;background:#ffff00;opacity:0;transition:all .3s;}
.tab_menu ul li a.on,
.tab_menu ul li a:hover,
.tab_menu ul li a:focus,
.tab_menu ul li a:active{color:#ffff00;}
.tab_menu ul li a.on:before,
.tab_menu ul li a:hover:before,
.tab_menu ul li a:active:before,
.tab_menu ul li a:focus:before{left:50%;margin-left:-50%;width:100%;opacity:1;}
.recommend_box:after{content:'';display:block;clear:both;}
.recommend_box > div{float:left;width:25%;}
.recommend_box > div:nth-of-type(2n){background:#f6f6f6;}
.recommend_box > div h4{height:60px;line-height:60px;border-bottom:1px solid #d2d2d2;text-align:center;}
.recommend_box > div ul li{display:table;width:100%;padding:7px 17px 7px 23px;border-bottom:1px solid #d2d2d2;}
.recommend_box > div ul li *{display:table-cell;vertical-align:middle;}
.recommend_box > div ul li .num{width:10%;}
.recommend_box > div ul li .tit{width:calc(100% - 20% - 10%);}
.recommend_box > div ul li .img{width:20%;}

.recommend_box.type2 > div{float:left;width:100%;text-align:center;}
.recommend_box.type2 > div > div{position:relative;display:inline-block;}
.recommend_box.type2 > div img{display:inline-block;position:absolute;top:0;left:0;z-index:100;display:inline-block;width:100%;height:100%;}
.recommend_box.type2 > div .over{display:none;z-index:101;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(35,59,80,.75);border-radius:0.75em;transition:all 0.5s;}
.recommend_box.type2 > div >div:hover .over,
.recommend_box.type2 > div >div:focus .over,
.recommend_box.type2 > div >div:active .over{display:block;transition:all 0.5s;background:rgba(35,59,80,.75) !important;}
.recommend_box.type2 > div >div .over a{display:block;box-sizing:border-box;width:100%;height:100%;padding:50px 10px;}
.recommend_box.type2 > div .over span{display:block;color:#fff;letter-spacing:-1px;}
.recommend_box.type2 > div .over span.tit{font-size:22px;}
.recommend_box.type2 > div .over span.txt{font-size:16px;}
.recommend_box.type2 > div .over span.location{margin-top:10px;font-size:14px;}

.recommend_box.type3{box-sizing:border-box;width:100%;height:623px;padding:40px 40px 0;background:url(/seantour_map/images/travel/content/bg_local.jpg) no-repeat 0 0;background-size:cover;}
.recommend_box.type3 .local_tit{float:left;display:inline-block;width:12%;}
.recommend_box.type3 .local_tit span{display:block;}
.recommend_box.type3 .local_tit .sub{font-size:24px;font-weight:600;color:#282828;}
.recommend_box.type3 .local_tit .tit{font-size:24px;font-weight:600;color:#365abe;}
.recommend_box.type3 .local_tit .txt{font-size:12px;color:#545454;}
.recommend_box.type3{}
.recommend_box.type3  div{float:left;width:calc(100% - 12%);}
.recommend_box.type3  .selection_map_area > div{float:left;width:45%;}
.recommend_box.type3  .map_status{width:55% !important;margin-top:30px; text-align:center;}
.recommend_box.type3  .map_status .tit{z-index:99;position:relative;display:inline-block;border-bottom:none;text-align:center;}
.recommend_box.type3  .map_status .img{position:relative;width:505px;height:322px;margin-top:-30px;}
.recommend_box.type3  .map_status .img img{width:100%;border-radius:0.5em 0.5em 0 0;}
.recommend_box.type3  .map_status .img .btn{position:absolute;bottom:9px;right:17px;display:inline-block;width:104px;height:36px;line-height:34px;padding:0 !important;background:#004986;border-radius:0.7em;font-size:14px;color:#fff;}
.recommend_box.type3  .map_status .t_box{box-sizing:border-box;position:relative;width:505px;padding:20px;padding-left:78px;background:#004986;border-radius:0 0 0.5em 0.5em;text-align:left;}
.recommend_box.type3  .map_status .t_box:before{content:'';display:inline-block;position:absolute;top:25px;left:20px;width:44px;height:52px;background:url(/seantour_map/images/travel/content/icon_recommend_tBox.png) no-repeat 0 0;}
.recommend_box.type3  .map_status .t_box .tit{font-size:16px;color:#93e4f9;}
.recommend_box.type3  .map_status .t_box .txt{margin-top:5px;font-size:14px;color:#ffff;line-height:1.2;}

.recommend_box.type3 .map_status{display:none;}
.selection_map_area.map01 .map_status.map01,
.selection_map_area.map02 .map_status.map02,
.selection_map_area.map03 .map_status.map03,
.selection_map_area.map04 .map_status.map04,
.selection_map_area.map05 .map_status.map05,
.selection_map_area.map06 .map_status.map06,
.selection_map_area.map07 .map_status.map07,
.selection_map_area.map08 .map_status.map08,
.selection_map_area.map09 .map_status.map09,
.selection_map_area.map10 .map_status.map10,
.selection_map_area.map11 .map_status.map11,
.selection_map_area.map12 .map_status.map12,
.selection_map_area.map13 .map_status.map13,
.selection_map_area.map14 .map_status.map14,
.selection_map_area.map15 .map_status.map15,
.selection_map_area.map16 .map_status.map16,
.selection_map_area.map17 .map_status.map17{display:block;}

.recommend_box.type3 area:focus{
  border: none;
  outline:none;
  outline-style: none; 
  -moz-outline-style:none;  
}


.my_info_box{}
.my_info_box:after{content:'';display:block;clear:both;}
.my_info_box > div{float:left;height:372px;border:1px solid #d2d2d2;transition:all 0.4s;}
.my_info_box .info{position:relative;box-sizing:border-box;width:40%;padding:40px 50px;}
.my_info_box .info .name_tit{display:table;}
.my_info_box .info .name_tit > div{display:table-cell;vertical-align:middle;}
.my_info_box .info .name_tit .img{}
.my_info_box .info .name_tit .img img{display:inline-block;width:152px;height:152px;background:#959595;border-radius:50%;}
.my_info_box .info .name_tit .name{padding-left:35px;}
.my_info_box .info .name_tit .name .my{font-size:18px;}
.my_info_box .info .name_tit .name .my span{font-size:31px;font-weight:600;}
.my_info_box .info .info_lst{margin-top:40px;}
.my_info_box .info .info_lst li{line-height:1.7;}
.my_info_box .info .info_lst li:after{content:'';display:block;clear:both;}
.my_info_box .info .info_lst li strong{float:left;font-weight:400;}
.my_info_box .info .info_lst li p{float:right;}
.my_info_box .info .btn{position:absolute;top:25px;right:25px;}
.my_info_box .fame{position:relative;width:calc(100% - 40% - 1px);margin-left:-1px;}
.my_info_box .fame .myfameArea{padding:30px 45px;}
.my_info_box .fame .myfame{position:relative;padding-left:80px;}
.my_info_box .fame .myfame:before{content:'';display:inline-block;position:absolute;top:0;left:0;width:70px;height:70px;background:url(/seantour_map/images/travel/content/icon_my_fame.png) no-repeat 0 0;background-size:cover;}
.my_info_box .fame .myfame .tit{margin:10px 0 0;color:#616161;}
.my_info_box .fame .myfame .score{font-size:34px;color:#ed5565;}
.my_info_box .fame .progressbarArea{margin:25px 0;}



.tbl01 {width:100%; margin-top:15px;border-top:2px solid #999;border-bottom:1px solid #d2d2d2; word-break:break-all;text-align:center;}
.tbl01 thead th {position:relative;padding:15px 5px;background:#f5f5f5;font-size:16px;}
.tbl01 tbody td {padding:15px 20px;border-top:1px solid #e4e4e4;font-size:15px;}
.tbl01 tbody td img {vertical-align:middle}
.tbl01 tbody td.data a {font-size:13px;color:#ababac}
@media screen and (max-width:768px){
    
    .tbl01 *[data-table-type="brd_number"],
    .tbl01 *[data-table-type="brd_date"],
    .tbl01 *[data-table-type="brd_name"]{display:none;}
    .tbl01 *[data-table-type="brd_list"]{width:75%;}
    .tbl01 th,
    .tbl01 td{padding:10px 15px;}
    .tbl01 thead th{font-size:14px;}
    .tbl01 tbody td{font-size:13px;}
    
}

#myProgress {
  width: 100%;
  margin:20px 0 25px;
  background-color: #dfe3e4;
}

#myBar {
  position:relative;
  width: 10%;
  height: 5px;
  background-color: #2283dd;
  text-align: center;
  line-height: 5px;
  color: transparent;
}
#myProgress,
#myProgress>div{position:relative;width:100%;}
#myProgress:before,
#myProgress:after,
#myProgress>div:before,
#myProgress>div:after{z-index:99;content:'';display:inline-block;position:absolute;width:10px;height:10px;background:#ddd;border-radius:50%;}
#myProgress:before{top:-2.5px;left:-2px;}
#myProgress:after{top:-2.5px;right:-2px;}
#myProgress>div:before{top:-2.5px;left:33.33%;}
#myProgress>div:after{top:-2.5px;left:66.66%;}
#myProgress.on1:before,
#myProgress.on4:after,
#myProgress.on2>div:before,
#myProgress.on3>div:after{background:#009900;}
.myProgress_lst{position:relative;}
.myProgress_lst:after{content:'';display:block;clear:both;}
.myProgress_lst li{float:left;position:absolute;top:0;font-size:14px;}
.myProgress_lst li:nth-of-type(1){left:-25px;}
.myProgress_lst li:nth-of-type(2){left:29%;}
.myProgress_lst li:nth-of-type(3){left:61%;}
.myProgress_lst li:nth-of-type(4){right:-25px;}

.my_info_box .fame .fame_list{box-sizing:border-box;position:absolute;bottom:0;left:0;width:100%;padding:35px 20px;background:#eaeef7;}
.my_info_box .fame .fame_list:after{content:'';display:block;clear:both;}
.my_info_box .fame .fame_list li{position:relative;float:left;width:33.333%;text-align:center;}
.my_info_box .fame .fame_list li:before{content:'';display:inline-block;position:absolute;top:0;left:0;width:1px;height:94px;background:#cfcfcf;}
.my_info_box .fame .fame_list li:first-child:before{display:none;}
.my_info_box .fame .fame_list li .tit{position:relative;display:inline-block;padding-left:22px;font-size:14px;color:#595a83;}
.my_info_box .fame .fame_list li .tit:before{content:'';display:inline-block;position:absolute;top:0;left:0;width:16px;height:16px;}
.my_info_box .fame .fame_list li:nth-of-type(1) .tit:before{background:url(/seantour_map/images/travel/content/icon_myfame_lst01.png) no-repeat 0 0;background-size:cover;}
.my_info_box .fame .fame_list li:nth-of-type(2) .tit:before{background:url(/seantour_map/images/travel/content/icon_myfame_lst02.png) no-repeat 0 0;background-size:cover;}
.my_info_box .fame .fame_list li:nth-of-type(3) .tit:before{background:url(/seantour_map/images/travel/content/icon_myfame_lst03.png) no-repeat 0 0;background-size:cover;}
.my_info_box .fame .fame_list li .tit_num{margin-top:25px;font-size:24px;font-weight:600;color:#595a83;}

/* **************************************** *
 * faq
 * **************************************** */
#faq_wrap {margin:10px 0 30px}
#faq_wrap h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#faq_wrap ol {margin:0;padding:0;list-style:none}
#faq_wrap li{border:1px solid #ddd;background:#fff;margin:10px 0;}
#faq_wrap li h3{min-height:30px;line-height:30px;padding:0px;padding-left:55px;position:relative}
#faq_wrap li h3 a {display:block; padding:10px 10px 10px 0;}
#faq_wrap li h3 a:before {content:"\f106"; font-family:FontAwesome; position:absolute; right:20px; font-size:18px;}
#faq_wrap li h3 a.on:before{ transform: rotate( 180deg );}
#faq_wrap li h3 .tit_bg{display:inline-block;position:absolute;top:10px;left:10px;text-align:center;background:#333;color:#fff;width:30px;height:30px}
#faq_con .con_inner{display:none;border-top:1px solid #ddd;padding:20px 15px;padding-left:55px;position:relative;background: #f7f7f7;}
#faq_con .con_inner .tit_bg{display:inline-block;position:absolute;top:15px;left:10px;text-align:center;background:#eb5b59;color:#fff;width:30px;line-height:30px;height:30px}
#faq_con .con_inner .closer_btn{height:25px;font-size:0.92em;display:inline-block;padding:0 5px;border-radius:5px;}
#faq_con .con_closer{text-align:right}

/* **************************************** *
 * 마이페이지 - 로그인
 * **************************************** */
.login_area{margin-top:95px;text-align:center;}
.login_area .txt{display:inline-block;margin-bottom:40px;font-size:18px;color:#6a6a6a;}
.login_area li{display:block;width:320px;padding-bottom:15px;margin:0 auto 15px;border-bottom:1px dashed #f0f0f0;}
.login_area a{position:relative;box-sizing:border-box;display:inline-block;width:320px;height:69px;line-height:69px;padding-left:82px;border-radius:0.2em;font-size:18px;color:#fff;text-align:left;}
.login_area a:before{content:'';display:inline-block;position:absolute;top:2px;left:2px;width:67px;height:67px;}
.login_area a.naver_lg{background:#1ec800;}
.login_area a.kakao_lg{background:#ffeb00;color:#290921;}
.login_area a.google_lg{background:#4285f4;}
.login_area a.naver_lg:before{background:url(/seantour_map/images/travel/content/icon_naver.jpg) no-repeat 0 0;}
.login_area a.kakao_lg:before{background:url(/seantour_map/images/travel/content/icon_kakao.jpg) no-repeat 0 0;}
.login_area a.google_lg:before{background:url(/seantour_map/images/travel/content/icon_google.jpg) no-repeat 0 0;}

/* **************************************** *
 * 마이페이지 - 로그인2
 * **************************************** */
.loginForm_area{max-width:510px;margin:0 auto;}
.loginForm_area .login_img{text-align:center;}
.loginForm{padding:35px 60px 15px;background:#eff0f4;border-top:2px solid #444e62;}
.loginForm .loginList{width:100%;}
.loginForm .loginList li *{display:inline-block;box-sizing:border-box;height:45px;line-height:45px;}
.loginForm .loginList li label{width:90px;margin-top:10px;}
.loginForm .loginList li input{width:calc(100% - 90px);margin-left:-4px;}
.loginForm .loginBtn{margin:23px 0 7px;}
.loginForm .loginBtn input[type=submit]{width:100%;height:58px;line-height:58px;background:#5a5b5b;border:none;font-size:16px;color:#fff;}
.loginForm .idpwFind_area:after{content:'';display:block;clear:both;}
.loginForm .idpwFind{float:right;}
.loginForm .idpwFind:after{content:'';display:block;clear:both;}
.loginForm .idpwFind li{float:left;}
.loginForm .idpwFind li{float:left;margin-left:25px;}
.loginForm .idpwFind li a{font-size:14px;color:#444e62;}
.loginForm_area .socialLogin{margin-top:28px;margin-left:-10px;}
.loginForm_area .socialLogin:after{content:'';display:block;clear:both;}
.socialLogin li{float:left;width:calc(50% - 10px);margin-left:10px;}
.socialLogin a{position:relative;box-sizing:border-box;display:inline-block;width:100%;height:68px;line-height:68px;padding-left:62px;border-radius:0.2em;font-size:18px;text-align:left;}
.socialLogin a:before{content:'';display:inline-block;position:absolute;top:50%;left:22px;margin-top:-16.5px;width:32px;height:33px;}
.socialLogin a.faceBook{background:#1877f2;color:#fff;}
.socialLogin a.google{background:#fff;color:#4285f4;border:1px solid #d2d2d2;}
.socialLogin a.faceBook:before{background:url(/seantour_map/images/travel/content/icon_faceBook.gif) no-repeat 0 0;}
.socialLogin a.google:before{background:url(/seantour_map/images/travel/content/icon_google.gif) no-repeat 0 0;}
.memberJoin{position:relative;margin-top:32px;padding-top:35px;border-top:1px solid #d2d2d2;}
.memberJoin .tbox .txt1{font-size:24px;color:#444e62;}
.memberJoin .tbox .txt1 span{color:#e05361;}
.memberJoin .tbox .txt2{font-size:14px;color:#444e62;}
.memberJoin .btn_join{position:absolute;top:32px;right:0;display:inline-block;width:110px;height:60px;line-height:60px;background:#ea3346;font-size:16px;color:#fff;text-align:center;}
.loginBtn{text-align:center;}

/* **************************************** *
 * 개인정보처리방침
 * **************************************** */
.policy_list{}
.policy_list>li{margin-bottom:20px;padding-left:15px;text-indent:-22px;font-size:18px;}
.policy_list>li p{margin:15px 0;padding:22px 15px;background:#f7f7f7;font-size:16px;text-indent:0;}

.email_notice {background:#f3f3f3; padding:40px 30px;text-align:center;}
.email_notice .emp {margin:30px 0px 20px; font-size:34px; color:#cf161e; font-weight: bold;}
.email_notice .txt{text-align:left;font-weight:600;}
.email_row{margin-top:20px;}
.email_row .tit{position:relative;margin-bottom:10px;padding-left:15px;font-weight:600;}
.email_row .tit:before{content:'';display:inline-block;position:absolute;top:7px;left:0;width:10px;height:10px;background:#545454;}
.email_row .lst li{padding-left:15px;text-indent:-18px;font-size:15px;}

@media screen and (max-width:1024px){
	.policy_list li{font-size:16px;}
	.policy_list li p{font-size:14px;}
	
	.email_notice .emp{margin:20px 0 10px;font-size:28px;}
	.email_notice .txt{font-size:15px;}
}
@media screen and (max-width:768px){
	.policy_list li{font-size:14px;}
	.policy_list li p{font-size:12px;}
	
	.email_notice{padding:25px 20px;}
	.email_notice .emp{margin:15px 0 10px;font-size:23px;}
	.email_notice .txt{font-size:13px;}
	.email_row .tit{font-size:14px;}
	.email_row .tit:before{top:5px;width:7px;height:7px;}
	.email_row .lst li{font-size:13px;}
}

/* **************************************** *
 * 리플렛
 * **************************************** */
.leafletBox1 area:focus,
.leafletBox2 area:focus{
  border: none;
  outline:none;
  outline-style: none; 
  -moz-outline-style:none;  
}

@media screen and (max-width:1200px){
	.local_lst>ul>li{width:calc(33.3333% - 2/3*15px);height:300px;}
	.local_lst>ul>li:nth-of-type(4n){margin-right:15px;}
	.local_lst>ul>li:nth-of-type(3n){margin-right:0;}
	.local_lst li .img{height:170px;}
	
	.local_map_area .localzone{width:60%;}
	.local_map_area .localzone .lst li{height:350px;}
	.local_map_area .localzone .lst li img{height:350px;}
	.local_map_area .local_map{width:calc(100% - 60% - 15px) !important;height:350px !important;}
	.local_info_area{margin:35px 0 0;padding:20px 30px;}
	.local_info_area .info_lst li span{width:20%;}
	.local_info_area .info_lst li p{width:calc(100% - 25%);}
	
	.fame_lst{margin-top:55px;}
	.fame_lst .flst{/*margin-top:-35px;*/}
	.fame_lst:after{width:25%;height:500px;}
	.fame_lst .flst li:nth-of-type(3n+1){margin-left:25%;}
	.fame_lst .flst li{width:calc(25% - 12px);height:250px;padding:18px;margin-bottom:35px;}
	.fame_lst .flst li .img{width:50%;height:auto;}
	.fame_lst .flst li .img img{width:100%;}
	.fame_lst .flst li:nth-of-type(1) .img, 
	.fame_lst .flst li:nth-of-type(2) .img, 
	.fame_lst .flst li:nth-of-type(3) .img{width:80%;height:140px;}
	.fame_lst .flst li:nth-of-type(1) .img span, 
	.fame_lst .flst li:nth-of-type(2) .img span, 
	.fame_lst .flst li:nth-of-type(3) .img span{width:130px;height:130px;}
	.fame_lst .flst li .tbox{font-size:14px;}
	.fame_lst .flst li:nth-of-type(1) .tbox, 
	.fame_lst .flst li:nth-of-type(2) .tbox, 
	.fame_lst .flst li:nth-of-type(3) .tbox{font-size:16px;}
	
}

@media screen and (max-width:1100px){
	.recommend_box.type3{height:auto !important;padding:25px;}
	.recommend_box.type3 .local_tit{width:100%;margin-bottom:20px;}
	.recommend_box.type3 .local_tit span{display:inline-block;width:auto;}
	.recommend_box.type3 div{width:100%;}
	.recommend_box.type3 .map_status{width:calc(100% - 45% - 20px) !important;margin-left:20px;}
	.recommend_box.type3 .selection_map_area > div img{width:100%;}
	.recommend_box.type3 .map_status .img{width:100% !important;height:auto !important;}
	.recommend_box.type3 .map_status .t_box{width:100% !important;}
	
}

@media screen and (max-width:1024px){
	.recommend_lst li .img .title{width:60%;height:30px;line-height:30px;font-size:14px;}
	.recommend_lst li .img{height:200px;}
	.recommend_lst li .txt{min-height:40px;margin:14px 0 30px;font-size:14px;}
	.recommend_lst li .info{font-size:13px;}
	
	.map_route_wrap .map_route{width:40%;}
	.map_route_wrap .map_route .map{width:100%;height:300px;}
	.map_route_wrap .recommend_days_lst{width:calc(100% - 40% - 30px);}
	.map_route_wrap .recommend_days_lst .tit_box .tit{margin:8px 0;font-size:22px;}
	.map_route_wrap .recommend_days_lst .tit_box .info{font-size:14px;}
	.map_route_wrap .re_days_area{margin-top:25px;}
	.map_route_wrap .re_days_area .day_num{font-size:16px;}
	.map_route_wrap .re_days_area .list li{padding:15px 0;}
	.map_route_wrap .re_days_area .list li .img{width:19%;height:auto;}
	.map_route_wrap .re_days_area .list li .txt_box{width:calc(100% - 19% - 10px);height:auto;margin-left:10px;}
	.map_route_wrap .re_days_area .list li .txt_box .tit{font-size:16px;}
	.map_route_wrap .re_days_area .list li .txt_box .txt_area{margin-top:10px;font-size:13px;}
	.map_route_wrap .re_days_area .list li .txt_box .more{font-size:13px;}
	.map_route_wrap .map_day_route dt{height:38px;line-height:38px;}
	.map_route_wrap .map_day_route dt a{font-size:16px;}
	.map_route_wrap .map_day_route dd ul li{font-size:13px;}
	
	.local_lst li .tbox .tit{font-size:14px;}
	.local_lst li .tbox .tit span{width:40px;height:20px;line-height:20px;font-size:13px;}
	.local_lst li .tbox .location{font-size:15px;}
	
	.local_info_area .info_lst li{font-size:14px;}
	.local_info_area .info_lst{margin-bottom:30px;padding-bottom:20px;}
	.local_info_area .info_txt .tit{font-size:16px;}
	.local_info_area .info_txt .txt{font-size:14px;}
	.local_info_area .info_txt .near_points_box{width:calc(33.3333% - 15px);margin-left:15px;}
	.local_info_area .info_txt .near_points_box .near_points{transition:all 0.4s;}
	.local_info_area .info_txt .near_points_box .near_points>div{height:200px !important;}
	
	.fame_infobox{margin-top:40px;padding:30px 25px;}
	.fame_tit{margin-bottom:20px;padding-left:26px;font-size:18px;}
	.fame_tit:before{top:3px;}
	.fame_infobox .fame_info_lst{margin-top:30px;}
	.fame_infobox .fame_info_lst .img img{width:40%;}
	.fame_infobox .fame_info_lst li .tit{font-size:18px;}
	.fame_infobox .fame_info_lst li .txt{font-size:14px;}
	.fame_scoreinfo_box .tbox{margin:0;}
	.fame_scoreinfo_box .tbox:after{background-size:90%;}
	.fame_scoreinfo_box .tbox ul li .score_tit{font-size:17px;}
	.fame_scoreinfo_box .tbox ul li .score_txt{font-size:17px;}
	
	
	.popular_srch ul li{margin-top:10px;}
	.popular_srch ul li a{padding:8px 17px;font-size:13px;}
	.tab_menu ul li a{font-size:15px;}
	.recommend_box > div h4{font-size:14px;}
	.recommend_box > div ul li{font-size:14px;}
	
	.my_info_box .info{padding:40px 30px;}
	.my_info_box .info .name_tit{margin-top:30px;}
	.my_info_box > div{height:315px;}
	.my_info_box .info .name_tit .img img{width:100px;height:100px;}
	.my_info_box .info .name_tit .name{padding}
	.my_info_box .info .name_tit .name .my{font-size:16px;}
	.my_info_box .info .name_tit .name .my span{font-size:27px;}
	.my_info_box .info .info_lst{margin-top:30px;}
	.my_info_box .info .info_lst li{font-size:14px;}
	.my_info_box .info .btn{top:20px;right:20px;}
	.my_info_box .fame .myfameArea{padding:20px 30px;}
	.my_info_box .fame .myfame .tit{font-size:15px;}
	.my_info_box .fame .myfame .score{font-size:28px;}
	#myProgress{margin:25px 0 20px;}
	.myProgress_lst li{font-size:13px;}
	.my_info_box .fame .fame_list{padding:20px 15px;}
	.my_info_box .fame .fame_list li:before{height:80px;}
	.my_info_box .fame .fame_list li .tit_num{margin-top:20px;font-size:20px;}
}

@media screen and (max-width:1023px){
	.fame_lst .flst li:nth-of-type(3n+1){margin-left:0;}
	.fame_lst:after{display:none;}
	.fame_lst .flst li{width:calc(33.333% - 2/3*12px);}
	.fame_lst .flst li:nth-of-type(3n+1){margin-left:0;}
	.fame_lst .flst li:nth-of-type(7){margin-left:0;}
	.fame_lst .flst li .tbox{font-size:12px;}
	.fame_lst .flst li:nth-of-type(1) .tbox, 
	.fame_lst .flst li:nth-of-type(2) .tbox, 
	.fame_lst .flst li:nth-of-type(3) .tbox{font-size:14px;}
	
	
}
@media screen and (max-width:1000px){
	.recommend_lst>ul>li{float:left;position:relative;width:calc(50% - 1/2*20px);margin-right:20px;margin-top:20px;padding:15px;}
	.recommend_lst>ul>li:nth-of-type(2n){margin-right:0;}
	.recommend_lst>ul>li:nth-of-type(3n){margin-right:0;}
	.recommend_lst>ul>li .img{width:100%;height:175px;}
	.recommend_lst>ul>li .img img{width:100%;}
	
	.fame_lst .flst li:nth-of-type(1) .img, 
	.fame_lst .flst li:nth-of-type(2) .img, 
	.fame_lst .flst li:nth-of-type(3) .img{width:68%;height:;}
	
	.map_route_wrap .map_route,
	.map_route_wrap .recommend_days_lst{float:none;width:100%;}
	.map_route_wrap .map_day_route{display:none;}
	.map_route_wrap .map_route .map{height:250px;}
	.map_route_wrap .recommend_days_lst .tit_box{margin-top:20px;}
	.map_route_wrap .recommend_days_lst .tit_box .name{padding-left:30px;}
	.map_route_wrap .recommend_days_lst .tit_box .name:before{width:25px;height:25px;margin-top:-12.5px;}
	.map_route_wrap .recommend_days_lst .tit_box .tit{margin:4px 0;font-size:18px;}
	.map_route_wrap .recommend_days_lst .tit_box .info{font-size:13px;}
	.map_route_wrap .re_days_area{margin-top:15px;}
	.map_route_wrap .re_days_area .list li{padding:12px 0;}
	.map_route_wrap .re_days_area .list li .txt_box .tit{font-size:14px;}
	.map_route_wrap .re_days_area .list li .txt_box .txt_area{font-size:12px;}
	
	.tab_menu:after{display:none;background:none;}
	.tab_menu ul li{width:33.3333%;margin-left:0;text-align:center;}
}
	
@media screen and (max-width:768px){
	
	/* 검색 */
	.bbsSrch{width:100%;margin:25px auto; padding:20px 10px 20px;}
    .bbsSrch fieldset{margin:0 15px;}
	.bbsSrch select,
	.bbsSrch input[type=text]{height:36px;line-height:36px;font-size:12px;}
	
	.bbsSrch select{width:18%;}
	.bbsSrch input.word{width:calc(100% - 36% - 20px);}
	.bbsSrch2 input.word{width:calc(100% - 54% - 20px);}
	.bbsSrch .bbs_btn{width:18%;height:36px;line-height:36px;font-size:14px;}
	
	.icon_box a{width:20px;height:20px;}
	
	.local_lst>ul>li{height:275px;}
	
	.fame_lst .flst li:nth-of-type(1) .img, 
	.fame_lst .flst li:nth-of-type(2) .img, 
	.fame_lst .flst li:nth-of-type(3) .img{width:86%;}
	
	.popular_srch{margin-bottom:40px;}
	.popular_srch ul li{margin-top:5px;}
	.popular_srch ul li span{padding:6px 14px;}
	.recommend_box>div{width:50%;}
	.recommend_box.type3{padding:20px;}
	.recommend_box.type3 .local_tit span,
	.recommend_box.type3 .local_tit .tit{font-size:18px;}
	.recommend_box.type3 .map_status .img{height:200px !important;}
	.recommend_box.type3 .map_status .img{width:100%;height:100%;}
	.recommend_box.type3 .map_status .t_box:before{display:none;}
	.recommend_box.type3 .map_status .t_box{padding-left:20px;}
	
	.my_info_box .info{width:100%;padding:40px 50px;}
	.my_info_box .fame{width:100%;margin-left:0;margin-top:10px;}
	.my_info_box .fame .myfameArea{padding:20px 50px;}
	.my_info_box .fame .myfame:before{background-size:85%;}
	.my_info_box .fame .myfame .tit{font-size:14px;}
	.my_info_box .fame .myfame .score{font-size:22px;}
	.myProgress_lst li{font-size:12px;}
	.my_info_box .fame .fame_list{padding:15px 10px;}
	.my_info_box .fame .fame_list li:before{height:60px;}
	.my_info_box .fame .fame_list li .tit{font-size:13px;}
	.my_info_box .fame .fame_list li .tit_num{margin-top:15px;font-size:16px;}
}

@media screen and (max-width:767px){
	.local_lst>ul>li{width:calc(50% - 1/2*15px);}
	.local_lst>ul>li:nth-of-type(4n){margin-right:15px;}
	.local_lst>ul>li:nth-of-type(3n){margin-right:15px;}
	.local_lst>ul>li:nth-of-type(2n){margin-right:0;}
	.local_lst li .tbox .tit{font-size:13px;}
	.local_lst li .tbox .tit span{width:40px;height:20px;line-height:20px;font-size:12px;}
	.local_lst li .tbox .location{margin:7px 0 4px;font-size:13px;}	
	.local_info_area .info_txt .near_points_box{width:calc(50% - 15px);margin-bottom:5px;}
	.local_info_area .info_txt .near_points_box:nth-of-type(3n){margin-left:0;}
	.local_info_area .info_txt .near_points_box .near_points{height:225px !important;}
	.local_info_area .info_txt .near_points_box .near_points > div{height:195px !important;}
	.local_info_area .info_txt .near_points .near_tit{font-size:13px;}
	
	.local_map_area .localzone{width:100%;}
	.local_map_area .local_map{width:100% !important;height:280px !important;margin-top:8px;}
	.local_map_area .localzone .lst li{height:280px;}
	.local_map_area .localzone .lst li img{height:280px;}
	.local_info_area{margin:15px 0 0;padding:25px;}
	.local_info_area .info_lst li{width:100%;font-size:12px;}
	.local_info_area .info_txt .tit{font-size:14px;}
	.local_info_area .info_txt .tit:before{width:14px;height:14px;}
	
	
	
}

@media screen and (max-width:767px){
	.fame_infobox{margin-top:25px;}
	.fame_tit{margin-bottom:15px;padding-left:20px;font-size:15px;}
	.fame_tit:before{background-size:80%;}
	.fame_txt{font-size:12px;}
	.fame_infobox .fame_info_lst{margin-top:15px;}
	.fame_infobox .fame_info_lst li{width:50%;margin-top:10px;}
	.fame_infobox .fame_info_lst li .tit{font-size:15px;}
	.fame_infobox .fame_info_lst li .score{font-size:13px;}
	.fame_scoreinfo_box{padding:30px 25px;}
	.fame_scoreinfo_box .tbox{padding-bottom:0;padding-left:0;}
	.fame_scoreinfo_box .tbox:after{height:auto;background:none;}
	.fame_scoreinfo_box .tbox ul li .score_tit{font-size:13px;}
	.fame_scoreinfo_box .tbox ul li .score_txt{font-size:13px;}
	
	
}	
@media screen and (max-width:640px){
	.local_lst>ul>li{height:270px;}
	.local_lst li .img{height:165px;}
	
	.recommend_lst>ul>li{width:calc(50% - 1/2*15px);margin-right:15px;margin-top:15px;padding:20px;}
	.recommend_lst>ul>li:nth-of-type(3n){margin-right:15px;}
	.recommend_lst li .img .title{font-size:13px;}
	
	.map_route_wrap .re_days_area .list li .txt_box .more{margin-top:0;font-size:12px;}
	
	.local_lst>ul>li{width:100%;}
	.local_lst>ul>li:nth-of-type(4n){margin-right:0;}
	.local_lst>ul>li:nth-of-type(3n){margin-right:0;}
	.local_lst>ul>li:nth-of-type(2n){margin-right:0;}
	.local_lst li .img img{}
	.local_lst li .tbox .tit{font-size:12px;}
	.local_info_area .info_txt .tit:before{top:2px;}
	.local_info_area .info_txt .txt{font-size:12px;}
	
	.fame_lst .flst li{width:calc(50% - 1/2*12px);height:220px;margin-bottom:20px;}
	.fame_lst .flst li:nth-of-type(2n-1){margin-left:0;}
	.fame_lst .flst li:nth-of-type(4){margin-left:12px;}
	.fame_lst .flst li:nth-of-type(7){margin-left:12px;}
	.fame_lst .flst li:nth-of-type(1) .img, 
	.fame_lst .flst li:nth-of-type(2) .img, 
	.fame_lst .flst li:nth-of-type(3) .img{width:120px;height:100px;}
	.fame_lst .flst li:nth-of-type(1) .img span, 
	.fame_lst .flst li:nth-of-type(2) .img span, 
	.fame_lst .flst li:nth-of-type(3) .img span{width:105px;height:105px;}
	.fame_lst .flst li:nth-of-type(1) .img, 
	.fame_lst .flst li:nth-of-type(2) .img, 
	.fame_lst .flst li:nth-of-type(3) .img{width:150px;height:125px;}
	
	.fame_lst .flst li:nth-of-type(1) .tbox, 
	.fame_lst .flst li:nth-of-type(2) .tbox, 
	.fame_lst .flst li:nth-of-type(3) .tbox{margin:10px 0 5px;}
	
	.popular_srch{margin-bottom:30;}
	.popular_srch ul li{min-height:40px;margin-right:10px;}
	.popular_srch ul li span{padding:5px 10px;font-size:12px;}
	.tab_menu{height:60px;padding:10px 0 0;}
	.tab_menu ul li a{padding:0 10px 10px;font-size:13px;}
	.recommend_box > div h4{height:40px;line-height:40px;font-size:13px;}
	.recommend_box > div ul li{padding:5px 10px 7px 15px;font-size:13px;}
	.recommend_box > div ul li .tit{width:calc(100% - 35% - 10%);}
	.recommend_box > div ul li .img{width:35%;}
	
	.my_info_box > div{height:275px;}
	.my_info_box .info{padding:30px 20px;}
	.my_info_box .info .info_lst{margin-top:20px;}
	.my_info_box .info .name_tit .name{padding-left:25px;}
	.my_info_box .info .name_tit .name .my{font-size:14px;}
	.my_info_box .info .name_tit .name .my span{font-size:22px;}
	.my_info_box .info .info_lst li{font-size:13px;}
	.my_info_box .fame .fame_list li .tit:before{width:12px;height:12px;background-size:cover;}
	
	.recommend_box.type2 > div >div .over a{padding:20px 10px;}
	.recommend_box.type2 > div .over span.tit{font-size:18px;}
	.recommend_box.type2 > div .over span.txt{font-size:14px;}
	.recommend_box.type2 > div .over span.location{font-size:12px;}
	
	.recommend_box.type3 .selection_map_area > div{width:100%;}
	.recommend_box.type3 .map_status{width:100% !important;margin-left:0;}
}	

@media screen and (max-width:600px){
	.recommend_lst>ul>li{width:100%;margin-right:0;margin-top:15px;padding:10px;}
	.recommend_lst>ul>li:nth-of-type(3n){margin-right:15px;}
	.recommend_lst li .img .title{font-size:13px;}
	
	.fame_lst .flst li .img{width:91px;height:91px;}
	.fame_lst .flst li:nth-of-type(1) .img, 
	.fame_lst .flst li:nth-of-type(2) .img, 
	.fame_lst .flst li:nth-of-type(3) .img{width:105px;height:105px;background:none !important;}
	
	.fame_lst .flst li{text-align:center;}
	.fame_lst .flst li span{margin:0 auto;}
	.fame_lst .flst li span.ranking{display:inline-block;margin-bottom:5px;}
	
	.pagination a, .pagination strong{min-width:20px;height:20px;line-height:20px;padding:0;font-size:12px;}
	
}	

@media screen and (max-width:420px){
	.local_info_area .info_txt .near_points_box{width:100%;margin-left:0 !important;}
	.local_info_area .info_txt .near_points .near_tit{font-size:12px;}
	
	.my_info_box > div.fame{height:auto !important;}
	.my_info_box .fame .myfameArea{padding:20px 20px;}
	.my_info_box .fame .fame_list{position:static;}
	.my_info_box .fame .fame_list li{width:100%;}
	.my_info_box .fame .fame_list li:before{display:none;}
	
	.myProgress_lst li:nth-of-type(1){left:-20px;}
	.myProgress_lst li:nth-of-type(2){left:26%;}
	.myProgress_lst li:nth-of-type(3){left:57%;}
	.myProgress_lst li:nth-of-type(4){right:-20px;}
	
}

@media screen and (max-width:320px){
	.fame_lst .flst li{width:100%;height:270px;margin-left:0 !important;}
	/*.fame_lst .flst li:nth-of-type(1) .img span, 
	.fame_lst .flst li:nth-of-type(2) .img span, 
	.fame_lst .flst li:nth-of-type(3) .img span{width:150px;height:150px;}
	.fame_lst .flst li:nth-of-type(1) .img, 
	.fame_lst .flst li:nth-of-type(2) .img, 
	.fame_lst .flst li:nth-of-type(3) .img{width:200px;height:160px;}*/
	.fame_lst .flst li:nth-of-type(10){margin-left:0 !important;}
	
	 .bbsSrch select, .bbsSrch input[type=text]{padding:0;}
}