@charset "utf-8";

.button.w33{width:calc(33.333% - 9px);height:36px;line-height:36px;}

#wrap {padding:0; height:auto; min-width:320px;}
	
#wizard .steps{display:none;}	
#wizard .content h2{display:none;}	

#wizard-p-2{z-index:999; width:100%; padding:0 20px 0;}
#wizard-p-2{width:100% !important;margin-left:0;border-right:none;}

#wizard-p-1{z-index:99; width:100%; padding:0 20px 0;}
#wizard-p-1{width:100% !important;margin-left:0;border-right:none;}
#wizard-p-1 .day_list{margin-top:-10px;}
#wizard-p-1 .day_list:after{content:'';display:block;clear:both;}
#wizard-p-1 .day_list>li{margin-top:10px;}
#wizard-p-1 .day_list>li:first-child{padding-top:0;}
#wizard-p-1 .day_list li:after{content:'';display:block;clear:both;}
#wizard-p-1 .day_list li:before{display:none;}
#wizard-p-1 .day_list li .num{display:none;}
#wizard-p-1 .day_list li .day_box{position:relative;width:100%;padding:20px  25px;border:1px solid #d2d2d2;border-radius:0.4em;box-shadow:5px 5px 10px rgb(0,0,0,.4);}
#wizard-p-1 .day_list li .day_box .tbox{display:block;}
#wizard-p-1 .day_list li .day_box .tbox .sub{position:relative;display:inline-block;margin-right:5px;padding-right:5px;color:#939393;}
#wizard-p-1 .day_list li .day_box .tbox .sub:after{content:'';display:inline-block;position:absolute;top:5px;right:0;width:1px;height:15px;background:#939393;}
#wizard-p-1 .day_list li .day_box .tbox .txt{font-weight:600;}
#wizard-p-1 .day_list li .day_box .mob_plus{position:absolute;top:17px;right:20px;display:inline-block;width:74px;height:34px;line-height:34px;border:1px solid #e1e1e1;border-radius:1em;text-align:center;}
#wizard-p-1 .day_list li .day_box .mob_plus:hover,
#wizard-p-1 .day_list li .day_box .mob_plus:focus,
#wizard-p-1 .day_list li .day_box .mob_plus:active,
#wizard-p-1 .day_list li .day_box .mob_plus.on{border-color:#047db2;color:#047db2;}
          
#wizard-p-1 .form_content{padding:0 0 18px;}
#wizard-p-1 .form_content input,
#wizard-p-1 .form_content select{width:100%;height:45px;line-height:45px;padding:0 10px;border:1px solid #d2d2d2;border-radius:0.4em;}


	
#wizard-p-1 .schedule_content{padding:18px 0;background:#fff;}
#wizard-p-1 .schedule_content .tab_mn{position:relative;min-height:125px;margin-bottom:35px;}
#wizard-p-1 .schedule_content .tab_mn > ul{}
#wizard-p-1 .schedule_content .tab_mn > ul:after{content:'';display:block;clear:both;}
#wizard-p-1 .schedule_content .tab_mn > ul > li{float:left;width:calc(20% - 4/5*4px);margin-right:4px;text-align:center;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(5n){margin-right:0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li > a{display:block;position:relative;padding-top:55px;transition:all 0.4s;}
#wizard-p-1 .schedule_content .tab_mn > ul > li > a:after{content:'';display:inline-block;position:absolute;top:0;left:50%;margin-left:-25.5px;width:51px;height:51px;}
#wizard-p-1 .schedule_content .tab_mn > ul > li > a:hover,
#wizard-p-1 .schedule_content .tab_mn > ul > li > a.on{color:#ff5050;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(1) > a:after{background:url(/seantour_map/images/travel/map/icon_sc01_off.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(2) > a:after{background:url(/seantour_map/images/travel/map/icon_sc02_off.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(3) > a:after{background:url(/seantour_map/images/travel/map/icon_sc03_off.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(4) > a:after{background:url(/seantour_map/images/travel/map/icon_sc04_off.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(5) > a:after{background:url(/seantour_map/images/travel/map/icon_sc05_off.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(1) > a:after{background:url(/seantour_map/images/travel/map/icon_sc01_off.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(1) > a:hover:after,
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(1) > a.on:after{background:url(/seantour_map/images/travel/map/icon_sc01_on.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(2) > a:hover:after,
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(2) > a.on:after{background:url(/seantour_map/images/travel/map/icon_sc02_on.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(3) > a:hover:after,
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(3) > a.on:after{background:url(/seantour_map/images/travel/map/icon_sc03_on.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(4) > a:hover:after,
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(4) > a.on:after{background:url(/seantour_map/images/travel/map/icon_sc04_on.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(5) > a:hover:after,
#wizard-p-1 .schedule_content .tab_mn > ul > li:nth-of-type(5) > a.on:after{background:url(/seantour_map/images/travel/map/icon_sc05_on.jpg) no-repeat 0 0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li:first-child>div{display:block;}
#wizard-p-1 .schedule_content .tab_mn > ul > li>div{display:block; position:absolute; top:85px; left:0; right:0;}
#wizard-p-1 .schedule_content .tab_mn > ul > li>div select{width:100%;height:45px;line-height:45px;padding:0 10px;border:1px solid #d2d2d2;border-radius:0.4em;}
          
#wizard-p-1 .schedule_content .cssSelect > button{display:block; position:relative; width:100%; height:45px; line-height:45px; padding:0 10px; background:#fff; border:1px solid #d2d2d2; border-radius:0.4em;text-align:left;}
#wizard-p-1 .schedule_content .cssSelect > button:after{content:''; position:absolute; top:50%; right:17px; width:11px; height:7px; margin-top:-3.5px; background:url(/seantour_map/images/travel/map/icon_tag_arr.png) 0 0/cover; transition:all .25s;}
.content {width:100%;height:100%; position:relative; padding-top:60px;}
#wizard-p-1 .schedule_content .cssSelect.on > button:after{transform:rotate(-180deg);}.content .inner {position:absolute; left:0; top:205px; bottom:0; right:0; overflow-y:auto;}
#wizard-p-1 .schedule_content .cssSelect > .lst{display:none; position:absolute; top:100%; left:0; right:0; z-index:100; opacity:0; height:0; background:#fff;border:1px solid #d2d2d2; transition:all .25s;}
#wizard-p-1 .schedule_content .cssSelect.on > .lst{display:block; opacity:1; overflow:auto; height:300px; padding:0 0 10px;}
#wizard-p-1 .schedule_content .cssSelect > .lst a{display:block; height:25px; line-height:25px; padding:0 25px; font-size:14px; white-space:nowrap;text-align:left;}
#wizard-p-1 .schedule_content .cssSelect > .lst a input{margin:0 5px 3px 0;}
#wizard-p-1 .schedule_content .cssSelect > .lst label{display:block; height:25px; line-height:25px; padding:0 25px; font-size:14px; white-space:nowrap;text-align:left;}
#wizard-p-1 .schedule_content .cssSelect > .lst label input{margin:0 5px 3px 0;}
          
#wizard-p-1 .day_list .mob_detail_info_area{margin-top:20px;padding:20px 0;font-size:13px;border-top:1px dashed #eaeaea;}
#wizard-p-1 .day_list .mob_detail_info_area .tit_box{margin-bottom:5px;font-size:14px;font-weight:600;}
#wizard-p-1 .day_list .mob_detail_info_area .info_lst li{position:relative;padding-left:12px;}
#wizard-p-1 .day_list .mob_detail_info_area .info_lst li:before{content:'';display:inline-block;position:absolute;top:8px;left:0;width:3px;height:3px;background:#545454;}
#wizard-p-1 .day_list .mob_detail_info_area .detail_txt{margin-top:10px;padding:8px;background:#f7f7f7;}
	
#wizard-p-0 .schedule_tbox input, 
#wizard-p-0 .schedule_tbox select{height:48px;line-height:48px;}
#wizard-p-0 .schedule_tbox input{width:100%;padding:0 20px;background:#323a44;border:none;color:#fff;}
#wizard-p-0 .schedule_tbox >div:nth-of-type(2){margin:10px 20px 0;}

#wizard-p-0 .start_tbox{margin-bottom:20px;}
#wizard-p-0 .start_tbox input, 
#wizard-p-0 .start_tbox select{height:48px;line-height:48px;}
#wizard-p-0 .start_tbox input{width:100%;padding:0 20px;background:#d9ecef;border:none;color:#545454;}
#wizard-p-0 .start_tbox >div:nth-of-type(2){margin:10px 20px 0;}

#wizard-p-0 .arrive_tbox{margin:20px 0;}
#wizard-p-0 .arrive_tbox input, 
#wizard-p-0 .arrive_tbox select{height:48px;line-height:48px;}
#wizard-p-0 .arrive_tbox input{width:100%;padding:0 20px;background:#e3e3e3;border:none;color:#545454;}
	      
#wizard-p-0 {display:block;padding:0 20px 50px;}
#wizard-p-0 .line_arrow{margin:20px 0 25px;height:14px;text-align:center;}
#wizard-p-0 .day_sc{/*border-bottom:1px solid #d2d2d2;*/margin-top:15px;display:none;}
#wizard-p-0 .day_sc dt{}
#wizard-p-0 .day_sc dt {font-size:22px;text-align:center;}
#wizard-p-0 .day_sc dt.on{border-bottom:1px solid #d2d2d2;}
#wizard-p-0 .day_sc dt a{position:relative;display:block;padding:10px 15px;color:#003172;background:fff;border:2px solid #eaeaea;border-radius:0.5em;}
#wizard-p-0 .day_sc dt a:before{content:'';display:inline-block;position:absolute;top:50%;margin-top:-5.5px;right:17px;width:18px;height:11px;background:url(/seantour_map/images/travel/map/ico_day_arrow.gif) no-repeat 0 0;transition:all .4s;}
#wizard-p-0 .day_sc dt.on a:before {transform: rotate(180deg);}
#wizard-p-0 .day_area{padding:20px 0;} 
#wizard-p-0 .day_area li .num,
#wizard-p-0 .day_area li .day_box{float:left;}
#wizard-p-0 .day_area li{position:relative;padding-top:20px;font-size:16px;color:#1f1f1f;}
#wizard-p-0 .day_area li:first-child{padding-top:0;}
#wizard-p-0 .day_area li:after{content:'';display:block;clear:both;}
#wizard-p-0 .day_area li:before{z-index:98;content:'';display:inline-block;position:absolute;top:19px;left:13px;width:2px;height:70px;background:#d2d2d2;}
#wizard-p-0 .day_area li:first-child:before{top:0;height:85px;}	
#wizard-p-0 .day_area li .num{position:relative;z-index:100;display:inline-block;width:28px;height:28px;line-height:28px;margin-top:20px;background:#ff5050;font-size:14px;color:#fff;text-align:center;}
#wizard-p-0 .day_area li .day_box{width:calc(100% - 28px - 10px);margin-left:10px;padding:20px  25px;border:1px solid #d2d2d2;border-radius:0.4em;box-shadow:5px 5px 10px rgb(0,0,0,.4);}
#wizard-p-0 .day_area li .day_box .tbox .sub{position:relative;display:inline-block;margin-right:5px;padding-right:5px;color:#939393;}
#wizard-p-0 .day_area li .day_box .tbox .sub:after{content:'';display:inline-block;position:absolute;top:5px;right:0;width:1px;height:15px;background:#939393;}
#wizard-p-0 .day_area li .day_box .tbox .txt{font-weight:600;}
#wizard-p-0 .day_area li .day_box .delect{float:right;display:inline-block;width:20px;height:24px;background:url(/seantour_map/images/travel/map/icon_mob_del.png) no-repeat 0 0;text-indent:-999em;}
#wizard-p-0 .day_area li .day_box .delect:after{content:0;}
#wizard-p-0 .add_btn_area {margin:20px 0 20px;}
#wizard-p-0 .add_btn_area:after{content:'';display:block;clear:both;}
#wizard-p-0 .add_btn_area>a{display:block;width:100%;padding:12px 0;border:1px solid #d2d2d2;font-weight:600;text-align:center;transition:all 0.4s;}
#wizard-p-0 .add_btn_area a span{position:relative;display:inline-block;padding-left:32px;}
#wizard-p-0 .add_btn_area a span:before{content:'';display:inline-block;position:absolute;top:50%;left:0;margin-top:-13px;width:26px;height:26px;}
#wizard-p-0 .add_btn_area a.local span{background:url(/seantour_map/images/travel/map/icon_local_add.png) no-repeat 0 0;}
#wizard-p-0 .add_btn_area a.mob_day_memo span{background:url(/seantour_map/images/travel/map/icon_memo_add.png) no-repeat 0 0;}
#wizard-p-0 .add_btn_area a.btn_add span{background:url(/seantour_map/images/travel/map/icon_mob_day_add.png) no-repeat 0 0;}
#wizard-p-0 .add_btn_area a:hover,
#wizard-p-0 .add_btn_area a:focus,
#wizard-p-0 .add_btn_area a:active{background:#d2d2d2;}
#wizard-p-0 .add_btn_area2 a{float:left;width:calc(50% - 10px);margin-right:10px;}
#wizard-p-0 .add_btn_area2 a:nth-of-type(2n){margin-right:0;}
           

#wizard-p-0 .day_save{margin-top:10px;}
#wizard-p-0 .day_save a{display:block;width:100%;padding:20px 0;background:#e5030a;font-size:18px;color:#fff;text-align:center;}
#wizard-p-0 .day_save a span{display:inline-block;position:relative;padding-left:28px;}
#wizard-p-0 .day_save a span:before{content:'';display:inline-block;position:absolute;top:50%;margin-top:-10.5px;left:0;width:19px;height:21px;background:url(/seantour_map/images/travel/map/icon_save.png) no-repeat 0 0;}

.mob_memo_box{display:none;z-index:100;margin:0 auto;background:#f7f7f7;border:3px solid #2071b8;} 
.mob_memo_box .tit{padding:5px 0 6px;border-bottom:1px solid #d2d2d2;font-size:16px;color:#626262;text-align:center;}
.mob_memo_box textarea{overflow:auto;box-sizing:border-box;width:100%;padding:7px 8px;border:none;}
.mob_memo_box a{float:left;display:block;width:50%;height:45px;line-height:45px;font-size:14px;text-align:center;text-indent:0;}
.mob_memo_box a.close{background:#ececec;}
.mob_memo_box a.add{background:#2071b8;color:#fff;}

.actions{position:absolute;top:85px;width:100%;}
.actions ul{}
.actions ul li{float:left;}	
.actions ul li a {position:absolute;opacity:0.8;text-align:center; line-height:26px; text-indent:inherit  !important;font-family:'FontAwesome';font-size:0;}
.actions ul li a:hover {}
.actions ul li:nth-of-type(1) a{left:0;}
.actions ul li:nth-of-type(1) a:before{ content:"\f104"; display:inline-block;font-size:30px;color:#545454;}
.actions ul li:nth-of-type(2) a{right:0;}
.actions ul li:nth-of-type(2) a:before{ content:"\f105"; display:inline-block;font-size:30px;color:#545454;}	
		
#wizard-p-2 .mob_map{width:100%;height:550px !important;background:#eaeaea;}
#wizard-p-2 .mob_map > div{width:100% !important;height:100% !important;}

@media all and (max-width: 1023px) {
}
	
@media all and (max-width: 768px) {
	
	#header h1.logo>a{width:305px;}
}

@media all and (max-width: 640px) {
	
	#header h1.logo>a{width:205px;height:20px;}
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}







