@charset "utf-8";

/* **************************************** *
 * paging
 * **************************************** */
.pagination{margin:5px 0; text-align:center; line-height:normal;}
.pagination a,
.pagination strong{
	display:inline-block; position:relative; box-sizing:border-box; 
	min-width:14px; height:21px; padding:0 5px; line-height:20px; margin:2px 0px; 
	box-sizing:border-box; background:#fff;  
	font-size:13px; font-weight:600; color:#111; text-decoration:none; vertical-align:middle;
}
.pagination strong{position:relative; z-index:10; color:#930c88; text-decoration:underline;}
.pagination a[class^="page_"]{overflow:hidden; text-indent:-9999em;}
.pagination .page_prev:after,
.pagination .page_prevend:after,
.pagination .page_next:after,
.pagination .page_nextend:after{content:''; position:absolute; top:0; left:0; right:0; bottom:0; width:14px; height:11px; margin:auto;}
.pagination .page_prev:after{width:7px; background:url(/seantour_map/images/travel/common/icon_prev.gif) no-repeat 0 0;}
.pagination .page_prevend:after{background:url(/seantour_map/images/travel/common/icon_prevend.gif) no-repeat 0 0;}
.pagination .page_next:after{width:7px; background:url(/seantour_map/images/travel/common/icon_next.gif) no-repeat 0 0;}
.pagination .page_nextend:after{background:url(/seantour_map/images/travel/common/icon_nextend.gif) no-repeat 0 0;}
